@model ConfirmPasswordViewModel
@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Fortune4 Cloud Coversation</title>
    <link rel="stylesheet" href="~/css/login.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.png">
</head>
<body>
    <div class="loginWrapper">
        <div class="loginBox">
            <h3 class="template_login_title text-center">Create New Password</h3>
            <div>
                <ul>
                    <li>Password should be atleast 8 Character long</li>
                    <li>Password should contain atleast one Uppercase</li>
                    <li>Password should contain atleast one lowercase</li>
                    <li>Password should contain atleast one special Character</li>
                    <li>Password should contain atleast one number</li>
                </ul>
            </div>
            <form asp-action="ConfirmPassword">
                <input type="hidden" asp-for="UserId">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="from-group mb-3">
                    <label class="form-label" for="newPassword">New Password</label>
                    <input type="password" asp-for="Password" class="form-control" placeholder="Password" autocomplete="off">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="from-group mb-3">
                    <label class="form-label" for="confirmPassword">Confirm Password</label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" autocomplete="off">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" id="showToastBtn" class="btn btn-sign">Confirm</button>
            </form>
        </div>
    </div>
    <div class="toastWrap">
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/commonhelper.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/commonhelper.js" asp-append-version="true"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/unobtrusiveHelper.js"></script>

    <script>
        $(document).ready(function () {
            var toastMsg = @Html.Raw(Json.Serialize(ViewData["ToastMsg"]));

            if (toastMsg != null && toastMsg != undefined) {
                if (toastMsg.type === "Success")
                    commonHelper.showSuccess(toastMsg.message);
                else if (toastMsg.type === "Error")
                    commonHelper.showError(toastMsg.message);
            }
        });

        $(document).on('submit', 'form', function (e) {
            if (this.checkValidity()) {
                commonHelper.showHideLoader(true);
            } else {
                commonHelper.showHideLoader(false);
            }
        });

        $(window).on('load', function () {
            $('.loader-wrapper').fadeOut('slow');
        });
    </script>
</body>
</html>