@model F4ConversationCloud.Application.Common.Models.OnBoardingModel.ForgotPasswordViewModel;

@{
    Layout = null;
    ViewData["Title"] = "Forgot Password";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | Fortune4 Cloud Coversation</title>
    <link rel="stylesheet" href="~/css/gupshuplogin.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css">

</head>

<body>
    <div class="login-page">
        <div class="left-section">

            <span class="login-bg">
                <div class="fortune4-login">
                    <img src="/images/logo.svg" />
                </div>
            </span>
        </div>
        <div class="right-section">
            <div class="login-bx forgot-bx">
                <h5 class="mb-2">Forgot Your Password ?</h5>
                <p>Enter your email address and we will send you instructions to reset your password.</p>
                <form asp-action="ForgotPassword" method="post">
                    <div class="form-group">
                        <input type="email" asp-for="EmailId" class="form-control" id="exampleInputEmail1" placeholder="name@example.com" aria-describedby="emailHelp">
                  
                        <span asp-validation-for="EmailId" class="error-message text-danger small"></span>

                    </div>
                    <button type="submit" class="btn btn-primary mt-0">Send Verification Mail</button>
                    <a href="create-new-password.html" ></a>
                   
                    <a asp-action="Login" class="forgot text-center d-block mt-3">Back to Login</a>
                </form>
            </div>
        </div>
    </div>
    <div class="toastWrap">
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/commonhelper.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/commonhelper.js" asp-append-version="true"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/unobtrusiveHelper.js"></script>

    <script>
        // $("nav ul ul").hide();
        // $("nav > ul > li > a").on("click", function (e) {
        //     e.stopPropagation();
        //     $("nav ul ul").slideUp();
        //     $(this).next().is(":visible") || $(this).next().slideDown();
        // });

        // $("li").has("ul").find("a").not("ul ul a").addClass("caret");

        // var swiper = new Swiper(".useCasesSwiper", {
        //     spaceBetween: 30,
        //     pagination: {
        //         el: ".swiper-pagination",
        //         clickable: true,
        //     },
        //     autoplay: {
        //         delay: 3000,
        //         disableOnInteraction: false,
        //     },
        //     loop: true,
        // });
         $(document).ready(function () {
            var toastMsg = @Html.Raw(Json.Serialize(ViewData["ToastMsg"]));

            if (toastMsg != null && toastMsg != undefined) {
                if (toastMsg.type === "Success")
                    commonHelper.showSuccess(toastMsg.message);
                else if (toastMsg.type === "Error")
                    commonHelper.showError(toastMsg.message);
            }
        });
    </script>
</body>
</html>
