@{
    Layout = "_ThankYouPageLayout";  
    ViewData["Title"] = "Thank You ";
}
    <div class="loginBox thank-you">
        <span class="sucess-thanks">
        
        
        <img src="~/images/login/thank-you 1.png" alt="Thank You" />


        </span>
        <h4>Thank You !</h4>
     <p>
        Thank you for completing your Meta Business Account onboarding process,
        Your account setup has been successfully submitted and is now pending admin approval!
    </p>
    </div>
