<div class="content">
    <div class="container-fluid">
        <h3 class="sub-heading">Configuration </h3>
        <ul class="user-list">
            <li>
                <span class="formkey">API Key <span class="copy"></span></span>
                <span class="formvalue">sk_live_4c5d6f7g8h9j0klmnop123456789abcd</span>
            </li>
            <li>
                <span class="formkey">Token <span class="copy"></span></span>
                <span class="formvalue">EAAJZCwZA1xMIBABABkZClZAOqZCZDZCpZCmYZA6kBZCkZCmxyz1234567890abcdefgZCZD</span>
            </li>
        </ul>
    </div>
</div>