<div class="content">
    <div class="container-fluid">
        <h3 class="sub-heading">Activity Log</h3>
        <div class="card padding">
            <div class="filterWrapper form-wrapper">
                <div class="filterwrap">
                    <ul class="filter-list">
                        <li>
                            <div>
                                <label>Search</label>
                                <div class="input-group">
                                    <input type="text" class="form-control srcIcon" placeholder="Search">
                                    <span class="searchIcon"></span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <label> Select Date</label>
                            <div id="reportrange" class="reportrange form-control date-form-control">
                                <i class="dateIcon"></i>&nbsp;
                                <span></span>
                            </div>
                        </li>
                    </ul>
                    <button class="btn secondary-btn"><i class="reset"></i></button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table user-table form-wrapper">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Clients</th>
                            <th>User</th>
                            <th>IP Address</th>
                            <th>Created Date & Time</th>
                            <th>Actions</th>
                            <th>Descriptions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <span class="text-black fw-semibold d-block">Buldana Urban</span>
                                <span class="buisness-category"><span class="fw-medium">Category :</span>  Bank</span>
                                <span class="buisness-category"><span class="fw-medium">Client Id :</span> Cl-00001</span>
                            </td>
                            <td>
                                <div class="user-wrap">
                                    <span class="profile">
                                        <img src="https://static.vecteezy.com/system/resources/previews/004/511/281/non_2x/default-avatar-photo-placeholder-profile-picture-vector.jpg" />
                                    </span>
                                    <span>
                                        <span class="d-block">Rajesh Shirke</span>
                                        <span class="role">Admin</span>
                                    </span>
                                </div>
                            </td>
                            <td>192.34.10.104</td>
                            <td>05-04-2025, 02:04:55</td>
                            <td><span class="badge success">Create Template</span></td>
                            <td>
                                <span class="message-block">User Created template</span>
                                <span class="log fw-semibold">template ID : 6935503</span>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                <span class="text-black fw-semibold d-block">Buldana Urban</span>
                                <span class="buisness-category"><span class="fw-medium">Category :</span>  Bank</span>
                                <span class="buisness-category"><span class="fw-medium">Client Id :</span> Cl-00001</span>
                            </td>
                            <td>
                                <div class="user-wrap">
                                    <span class="profile">
                                        <img src="https://static.vecteezy.com/system/resources/previews/004/511/281/non_2x/default-avatar-photo-placeholder-profile-picture-vector.jpg" />
                                    </span>
                                    <span>
                                        <span class="d-block">Pramod Verma</span>
                                        <span class="role">Manager</span>
                                    </span>
                                </div>
                            </td>
                            <td>192.34.10.140</td>
                            <td>02-04-2025, 01:04:55</td>
                            <td><span class="badge danger">Delete Flow</span></td>
                            <td>
                                <span class="message-block">User deleted flow</span>
                                <span class="log fw-semibold">template ID : 619099986545854</span>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>
                                <span class="text-black fw-semibold d-block">Buldana Urban</span>
                                <span class="buisness-category"><span class="fw-medium">Category :</span>  Bank</span>
                                <span class="buisness-category"><span class="fw-medium">Client Id :</span> Cl-00001</span>
                            </td>
                            <td>
                                <div class="user-wrap">
                                    <span class="profile">
                                        <img src="https://static.vecteezy.com/system/resources/previews/004/511/281/non_2x/default-avatar-photo-placeholder-profile-picture-vector.jpg" />
                                    </span>
                                    <span>
                                        <span class="d-block">Dinesh Sharma</span>
                                        <span class="role">Admin</span>
                                    </span>
                                </div>
                            </td>
                            <td>192.34.10.140</td>
                            <td>02-03-2025, 09:04:55</td>
                            <td><span class="badge badgeinfo">Update Template</span></td>
                            <td>
                                <span class="message-block">User Updated template</span>
                                <span class="log fw-semibold">template ID : 6935503</span>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <nav aria-label="navigation example">
                <ul class="pagination mt-5 d-flex justify-content-center">
                    <li class="page-item"><a class="page-link" href="#">&lt;</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item active"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">20</a></li>
                    <li class="page-item"><a class="page-link" href="#">&gt;</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>