@model F4ConversationCloud.SuperAdmin.Models.CreateUpdateClientRegistrationViewModel

@{
    ViewData["Title"] = "Register User";
}

<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header-content">
                <h3 class="sub-heading"><a href="@Url.Action("List", "ClientRegistration")" class="back"></a>Register User </h3>
                <div>
                    <button class="btn primary-btn resend d-flex" data-bs-toggle="modal" data-bs-target="#resendEmail-confirmation-popup" id="resend-btn"> Re-send</button>
                </div>
            </div>
            <form asp-action="Edit" method="post" enctype="multipart/form-data" class="form-wrapper">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-2">
                            <label>First Name <span class="text-danger">*</span></label>
                            <div class="input-group">
                                <input asp-for="FirstName" type="text" class="form-control" placeholder="Enter user name" />
                            </div>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-2">
                            <label>Last Name <span class="text-danger">*</span></label>
                            <div class="input-group">
                                <input asp-for="LastName" type="text" class="form-control" placeholder="Enter Last name" />
                            </div>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-2">
                            <label>Email Address <span class="text-danger">*</span></label>
                            <div class="input-group">
                                <input asp-for="Email" type="text" class="form-control" placeholder="Enter email address" />
                            </div>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-2">
                            <label>Contact Number <span class="text-danger">*</span></label>
                            <div class="input-group">
                                <input asp-for="ContactNumber" type="text" class="form-control" placeholder="Enter Contact Number" />
                            </div>
                            <span asp-validation-for="ContactNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-2">
                            <label>Organization Name <span class="text-danger">*</span></label>
                            <div class="input-group">
                                <input asp-for="OrganizationsName" type="text" class="form-control" placeholder="Enter Organization Name" />
                            </div>
                            <span asp-validation-for="OrganizationsName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-2">
                            <label>Role <span class="text-danger">*</span></label>
                            <select asp-for="Role" asp-items="(IEnumerable<SelectListItem>)ViewBag.Roles" class="form-control">
                                <option value="" disabled selected>Select Role</option>
                            </select>
                        </div>
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>
                </div>
                <div class="d-flex justify-content-start gap-2 mt-3">
                    <button class="btn primary-btn" type="submit" value="Edit">Save</button>
                    <button type="button" class="btn danger-btn" id="cancel-button">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade template-modal" id="resendEmail-confirmation-popup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog confirm-model modal-dialog-centered">
        <div class="modal-content text-center">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span class="refresh-icon"></span>
                <h6>Re-send Onboarding Link</h6>
                <p>Are you sure you want to re-send a new onboarding link to this user.</p>
                <div class="d-flex justify-content-center gap-2 mt-3">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                    <button class="btn primary-btn" id="resend-yes-btn">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/unobtrusiveHelper.js" asp-append-version="true"></script>

    <script>
        $("#cancel-button").click(function(){
            commonHelper.showHideLoader(true);
            location.href = '@Url.Action("List", "ClientRegistration")';
        });

        $(document).on('click', '#resend-yes-btn', function () {
            commonHelper.showHideLoader(true);
            var id = @Html.Raw(Json.Serialize(Model.Id));
            var url = '@Url.Action("ResendEmail", "ClientRegistration")/' + id;
            $.ajax({
                url: url,
                type: 'POST',
                success: successCallback,
                error: errorCallback
            });

            var modal = bootstrap.Modal.getInstance(document.getElementById('resendEmail-confirmation-popup'));
            if (modal){
                modal.hide();
            }
        });

        function successCallback(data) {
            if (data) {
                commonHelper.showSuccess('Email sent successfully.');
            } else {
                commonHelper.showError('Failed to send an email.');
            }
            commonHelper.showHideLoader(false);
        }

        function errorCallback(xhr, errorType, error) {
            commonHelper.showSuccess('Failed to an send an email.');
            commonHelper.showHideLoader(false);
        }

        $(document).on('submit', 'form', function (e) {
            if (this.checkValidity()) {
                commonHelper.showHideLoader(true);
            } else {
                commonHelper.showHideLoader(false);
            }
        });

        $(document).on('click', '.back', function () {
            commonHelper.showHideLoader(true);
        });
    </script>
}