@{
    ViewData["Title"] = "Campaign List";

}
<div class="content bg-light">
<div class="container-fluid">
    <h3 class="sub-heading">Broadcast Campaigns</h3>
    <div class="form-wrapper">
        <form>
            <div class="row">
                <div class="col-md-4">
                    <label>Search Broadcast</label>
                    <div class="input-group">
                        <input type="text" class="form-control srcIcon" placeholder="Search Broadcast">
                        <span class="searchIcon"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Status</label>
                    <select class="form-select">
                        <option selected>Select status</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-md-2 align-content-end">
                    <button class="btn secondary-btn"><i class="reset"></i></button>
                </div>
                <div class="col-md-2 d-flex justify-content-end align-items-end">
                    <a href="@Url.Action("CreateCampaign", "Campaigns")" class="btn primary-btn">
                        Create Campaign 
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="campaign-list">
        <div class="card padding">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Channel</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Targeted</th>
                        <th>Sent to</th>
                        <th>Performance</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="textColor">Campaign A</td>
                        <td><img src="../images/whats-icon.webp" width="22" height="22" alt=""></td>
                        <td>Interactive</td>
                        <td>Sent</td>
                        <td>5</td>
                        <td>3</td>
                        <td class="d-flex gap-2">
                            Delivery Rate 95%
                            <span class="info" data-toggle="tooltip" data-placement="top"
                                  title="Delivery Rate"></span>
                        </td>
                        <td>
                            <div class="action">
                                <a href="#" class="copy"></a>
                                <a href="#" class="delete"></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="textColor">Newsletter B</td>
                        <td><img src="../images/whats-icon.webp" width="22" height="22" alt=""></td>
                        <td>One Way</td>
                        <td>Draft</td>
                        <td>3</td>
                        <td>1</td>
                        <td class="d-flex gap-2">
                            Delivery Rate 88%
                            <span class="info" data-toggle="tooltip" data-placement="top"
                                  title="Delivery Rate"></span>
                        </td>
                        <td>
                            <div class="action">
                                <a href="#" class="copy"></a>
                                <a href="#" class="delete"></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="textColor">Promo X</td>
                        <td><img src="../images/whats-icon.webp" width="22" height="22" alt=""></td>
                        <td>Interactive</td>
                        <td>Scheduled</td>
                        <td>4</td>
                        <td>2</td>
                        <td class="d-flex gap-2">
                            Delivery Rate 92%
                            <span class="info" data-toggle="tooltip" data-placement="top"
                                  title="Delivery Rate"></span>
                        </td>
                        <td>
                            <div class="action">
                                <a href="#" class="copy"></a>
                                <a href="#" class="delete"></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="textColor">Campaign C</td>
                        <td><img src="../images/whats-icon.webp" width="22" height="22" alt=""></td>
                        <td>Interactive</td>
                        <td>Draft</td>
                        <td>6</td>
                        <td>6</td>
                        <td class="d-flex gap-2">
                            Delivery Rate 100%
                            <span class="info" data-toggle="tooltip" data-placement="top"
                                  title="Delivery Rate"></span>
                        </td>
                        <td>
                            <div class="action">
                                <a href="#" class="copy"></a>
                                <a href="#" class="delete"></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="textColor">Webinar Invite</td>
                        <td><img src="../images/whats-icon.webp" width="22" height="22" alt=""></td>
                        <td>One Way</td>
                        <td>Sent</td>
                        <td>10</td>
                        <td>9</td>
                        <td class="d-flex gap-2">
                            Delivery Rate 90%
                            <span class="info" data-toggle="tooltip" data-placement="top"
                                  title="Delivery Rate"></span>
                        </td>
                        <td>
                            <div class="action">
                                <a href="#" class="copy"></a>
                                <a href="#" class="delete"></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="textColor">Survey Y</td>
                        <td><img src="../images/whats-icon.webp" width="22" height="22" alt=""></td>
                        <td>Interactive</td>
                        <td>Draft</td>
                        <td>2</td>
                        <td>2</td>
                        <td class="d-flex gap-2">
                            Delivery Rate 100%
                            <span class="info" data-toggle="tooltip" data-placement="top"
                                  title="Delivery Rate"></span>
                        </td>
                        <td>
                            <div class="action">
                                <a href="#" class="copy"></a>
                                <a href="#" class="delete"></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="textColor">Reminder Z</td>
                        <td><img src="../images/whats-icon.webp" width="22" height="22" alt=""></td>
                        <td>One Way</td>
                        <td>Scheduled</td>
                        <td>1</td>
                        <td>0</td>
                        <td class="d-flex gap-2">
                            Delivery Rate 0%
                            <span class="info" data-toggle="tooltip" data-placement="top"
                                  title="Delivery Rate"></span>
                        </td>
                        <td>
                            <div class="action">
                                <a href="#" class="copy"></a>
                                <a href="#" class="delete"></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="textColor">Launch Update</td>
                        <td><img src="../images/whats-icon.webp" width="22" height="22" alt=""></td>
                        <td>Interactive</td>
                        <td>Sent</td>
                        <td>8</td>
                        <td>8</td>
                        <td class="d-flex gap-2">
                            Delivery Rate 100%
                            <span class="info" data-toggle="tooltip" data-placement="top"
                                  title="Delivery Rate"></span>
                        </td>
                        <td>
                            <div class="action">
                                <a href="#" class="copy"></a>
                                <a href="#" class="delete"></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="textColor">Event Alert</td>
                        <td><img src="../images/whats-icon.webp" width="22" height="22" alt=""></td>
                        <td>One Way</td>
                        <td>Draft</td>
                        <td>7</td>
                        <td>5</td>
                        <td class="d-flex gap-2">
                            Delivery Rate 71%
                            <span class="info" data-toggle="tooltip" data-placement="top"
                                  title="Delivery Rate"></span>
                        </td>
                        <td>
                            <div class="action">
                                <a href="#" class="copy"></a>
                                <a href="#" class="delete"></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="textColor">Feedback Form</td>
                        <td><img src="../images/whats-icon.webp" width="22" height="22" alt=""></td>
                        <td>Interactive</td>
                        <td>Sent</td>
                        <td>9</td>
                        <td>9</td>
                        <td class="d-flex gap-2">
                            Delivery Rate 100%
                            <span class="info" data-toggle="tooltip" data-placement="top"
                                  title="Delivery Rate"></span>
                        </td>
                        <td>
                            <div class="action">
                                <a href="#" class="copy"></a>
                                <a href="#" class="delete"></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <nav aria-label="navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">&lt;</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item"><a class="page-link" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">20</a></li>
                <li class="page-item"><a class="page-link" href="#">&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
</div>