 @model F4ConversationCloud.ClientAdmin.Models.CampaignViewModel.CreateCampaignViewModel;

@{
    ViewData["Title"] = "Create Campaign";
}
<div class="container-fluid">
    <h3 class="sub-heading"><a href="#" class="back"></a>Edit Broadcast Campaign</h3>

    <div class="broadcast-tabs tab-spacing">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="details-tab" data-bs-toggle="tab"
                        data-bs-target="#details" type="button" role="tab" aria-controls="details"
                        aria-selected="true">
                    01 Broadcast Details
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link " id="audience-tab" data-bs-toggle="tab" data-bs-target="#audience"
                        type="button" role="tab" aria-controls="audience" aria-selected="false">
                    02
                    Audience
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="template-tab" data-bs-toggle="tab" data-bs-target="#template"
                        type="button" role="tab" aria-controls="template" aria-selected="false">
                    03
                    Template
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="preview-tab" data-bs-toggle="tab" data-bs-target="#preview"
                        type="button" role="tab" aria-controls="preview" aria-selected="false">
                    04
                    Preview
                </button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="details" role="tabpanel"
                 aria-labelledby="details-tab">
                <partial name="/Views/Shared/Campaign/_BroadcastDetailsPartial" model="@Model" />
            </div>

            <div class="tab-pane fade show" id="audience" role="tabpanel" aria-labelledby="audience-tab">
                @* <partial name="_AudiencePartial" model="@Model" /> *@
            </div>

            <div class="tab-pane fade" id="template" role="tabpanel" aria-labelledby="template-tab">
             
               @*  <partial name="_TemplatePartial" model="@Model" /> *@
            </div>
            <div class="tab-pane fade" id="preview" role="tabpanel" aria-labelledby="preview-tab">
@*                 <partial name="_PreviewCampaignPartial" model="@Model" />
 *@            </div>
        </div>
    </div>
</div>