<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fortune4 Conversation Cloud</title>
   
    <script type="importmap"></script>
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.png">
    <link href="~/css/swiper-bundle.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/daterangepicker.css">

</head>
<body>
    <div class="loader-wrapper" id="loader">
        <div class="loader"></div>
    </div>
    <div class="page">
        
        <partial name="_SideBar" />
        <div class="main-content">
            <div class="app-header">
                <partial name="_Navbar" />
            </div>
            @RenderBody()
            <footer class="footer">
                <div class="container">
                    <span class="text-muted">
                        Copyright © <span id="year"> 2025 </span>. Designed by
                        <a href="#" target="_blank"> <span> Fortune4 Technogies. </span> </a>
                        All rights reserved
                    </span>
                </div>
            </footer>
        </div>


    </div>
    <div class="toastWrap">
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/popper.min.js" crossorigin="anonymous"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/moment.min.js"></script>

    <script src="~/lib/swiper-bundle.min.js"></script>
    <script src="https://connect.facebook.net/en_US/sdk.js?hash=f3442150fc3a1fd1d966c3a0152b6916" async="" crossorigin="anonymous"></script>

    <script src="~/js/daterangepicker.min.js"></script>
    <script src="~/js/commonHelper.js" asp-append-version="true"></script>
    <script src="~/js/ajaxhelper.js" asp-append-version="true"></script>
    <script src="~/js/unobtrusiveHelper.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
    $(document).ready(function () {
        commonHelper.showHideLoader(true);

        var toastMsg = JSON.parse('@Html.Raw(Json.Serialize(ViewData["ToastMsg"]))' || '{}');

        if (toastMsg && toastMsg.type) {
            switch (toastMsg.type) {
                case "Success":
                    commonHelper.showSuccess(toastMsg.message);
                    break;
                case "Error":
                    commonHelper.showError(toastMsg.message);
                    break;
                case "Info":
                    commonHelper.showInfo(toastMsg.message);
                    break;
                case "Warning":
                    commonHelper.showWarning(toastMsg.message);
                    break;
            }
        }

        commonHelper.showHideLoader(false);
    });
</script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
