@{
    ViewData["Title"] = "template preview  List";
}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="templateModalContent">
            <!-- Partial view content will load here -->
        </div>
    </div>
</div>
