<div class="template-wrapper full-template-wrapper">
    <ul class="template-card-listing mb-3">
        <li>
            <div class="template-card">
                <h4>loan_demo</h4>
                <div class="not-allowed">
                    <i class="not-icon"></i>
                    Not rated
                </div>
                <div class="template-message-card">
                    <div class="template-white-card">
                        <span><img src="../images/card-image.png" /></span>
                        <div class="description">
                            <p> Dear Amar,</p>
                            <p>
                                We are excited to present you with an exclusive offer ! Get a
                                5% interest rate on your next loan application
                            </p>
                        </div>
                        <div class="time">1:59 PM</div>
                    </div>
                </div>
                <div class="manage-section">
                    <span class="info" data-toggle="tooltip" data-placement="top" title="Upload list"></span>
                    <button class="btn secondary-btn" id="selectTemplate">Select</button>
                </div>
            </div>
        </li>
        <li>
            <div class="template-card">
                <h4>hdfc_home_loan_offer_new</h4>
                <div class="not-allowed">
                    <i class="not-icon"></i>
                    Not rated
                </div>
                <div class="template-message-card">
                    <div class="template-white-card">
                        <span><img src="../images/card-image02.webp" /></span>
                        <div class="description">
                            <p> 10</p>
                            <p>Avail home loan at 5%</p>
                        </div>
                        <div class="time">1:59 PM</div>
                        <div class="buy-link">
                            <a href="#"><i class="buy-icon"></i> Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="manage-section">
                    <span class="info" data-toggle="tooltip" data-placement="top" title="Upload list"></span>
                    <button class="btn secondary-btn">Select</button>
                </div>
            </div>
        </li>
        <li>
            <div class="template-card">
                <h4>appointment_confirmation</h4>
                <div class="not-allowed">
                    <i class="not-icon"></i>
                    Not rated
                </div>
                <div class="template-message-card">
                    <div class="template-white-card">
                        <span><img src="../images/card-image02.webp" /></span>
                        <div class="description">
                            <p>Dear Vikas,</p>
                            <p>
                                Your appointment has been scheduled. Below are the
                                appointment details.
                            </p>
                            <p>Below are the appointment details.</p>
                        </div>
                        <div class="time">1:59 PM</div>
                    </div>
                </div>
                <div class="manage-section">
                    <span class="info" data-toggle="tooltip" data-placement="top" title="Upload list"></span>
                    <button class="btn secondary-btn">Select</button>
                </div>
            </div>
        </li>
        <li>
            <div class="template-card">
                <h4>common_service_1</h4>
                <div class="not-allowed">
                    <i class="not-icon"></i>
                    Not rated
                </div>
                <div class="template-message-card">
                    <div class="template-white-card">
                        <span><img src="../images/card-image02.webp" /></span>
                        <div class="description">
                            <p>Dear Vikas,</p>
                            <p>
                                Your appointment has been scheduled. Below are the
                                appointment details.
                            </p>
                            <p>Below are the appointment details.</p>
                        </div>
                        <div class="time">1:59 PM</div>
                    </div>
                </div>
                <div class="manage-section">
                    <span class="info" data-toggle="tooltip" data-placement="top" title="Upload list"></span>
                    <button class="btn secondary-btn">Select</button>
                </div>
            </div>
        </li>
        <li>
            <div class="template-card">
                <h4>bharat_bank_rec_service</h4>
                <div class="not-allowed">
                    <i class="not-icon"></i>
                    Not rated
                </div>
                <div class="template-message-card">
                    <div class="template-white-card">
                        <div class="description">
                            <p>
                                Good morrning ☀️ vikas Here are our Recommended Services. 👇
                            </p>
                        </div>
                        <div class="time">1:59 PM</div>
                        <div class="buy-link">
                            <a href="#"><i class="forward"></i> My Account Balance</a>
                            <a href="#"><i class="forward"></i> Bill Payment</a>
                            <a href="#"><i class="forward"></i> Explore More Menu</a>
                        </div>
                    </div>
                </div>
                <div class="manage-section">
                    <span class="info" data-toggle="tooltip" data-placement="top" title="Upload list"></span>
                    <button class="btn secondary-btn">Select</button>
                </div>
            </div>
        </li>
        <li>
            <div class="template-card">
                <h4>promotion_fd</h4>
                <div class="not-allowed">
                    <i class="not-icon"></i>
                    Not rated
                </div>
                <div class="template-message-card">
                    <div class="template-white-card">
                        <div class="description">
                            <p>
                                🚀 Invest in FD today & watch your wealth grow safely! 🔒💰
                            </p>
                            <p>🎉 Exciting Promotions!</p>
                            <p>
                                💰 High-Interest Rates - Earn attractive returns on your
                                investment! 🚀 Instant FD Opening - Open your FD in minutes
                                with hassle-free online processing! 📅 Flexible Tenure
                                Options - Choose from short-term & 🎁 Loyalty Bonus for
                                Renewals - Enjoy additional interest on FD renewals! 🔄
                                Auto-Renewal Facility - Keep growing your savings
                                effortlessly!
                            </p>
                        </div>
                        <div class="time">1:59 PM</div>
                    </div>
                </div>
                <div class="manage-section">
                    <span class="info" data-toggle="tooltip" data-placement="top" title="Upload list"></span>
                    <button class="btn secondary-btn">Select</button>
                </div>
            </div>
        </li>
    </ul>
    <nav aria-label="navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">&lt;</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#">6</a></li>
            <li class="page-item"><a class="page-link" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">20</a></li>
            <li class="page-item"><a class="page-link" href="#">&gt;</a></li>
        </ul>
    </nav>
</div>
<div class="edit-template" style="display: none;">
    <div class="row">
        <div class="col-md-8">
            <div class="card padding">
                <h3 class="mb-2">Template</h3>
                <div class="template-body card padding">
                    <ul>
                        <li>
                            <p>Template name</p>
                            <span>loan_demo</span>
                        </li>
                        <li>
                            <p>Media</p>
                            <span>IMAGE</span>
                        </li>
                        <li class="body">
                            <p>Body</p>
                            <span>
                                Dear {{1}}, We are excited to present you with an
                                exclusive offer ! {{2}}
                            </span>
                        </li>
                    </ul>
                    <div class="d-flex justify-content-end">
                        <button class="btn secondary-btn">Change Template</button>
                    </div>
                </div>

                <div class="template-header card padding">
                    <h4>Header</h4>
                    <div class="d-flex gap-5">
                        <div class="form-check radio-btn mb-2">
                            <input class="form-check-input" type="radio"
                                   name="flexRadioDefault" id="chooseImage">
                            <label class="form-check-label" for="chooseImage">
                                Choose image
                            </label>
                        </div>
                        <div class="form-check radio-btn mb-2">
                            <input class="form-check-input" type="radio"
                                   name="flexRadioDefault" id="chooseUrl">
                            <label class="form-check-label" for="chooseUrl">
                                Choose URL
                            </label>
                        </div>
                    </div>
                    <div class="upload-container">
                        <div class="input-box">
                            <label for="fileUpload">
                                <i class="upload-icon"></i>
                                <p>Upload Image</p>
                                <span>Max 5MB (JPEG, JPG, PNG)</span>
                                <input name="fileUpload" id="fileUpload"
                                       onchange="loadFile(event)" type="file" />
                            </label>
                        </div>
                        <div class="image-preview">
                            <img id="output" />
                            <button class="delImage">Delete</button>
                        </div>
                    </div>
                </div>

                <div class="template-header card padding">
                    <h4>Body</h4>
                    <div class="form-wrapper">
                        <form>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label>Variable</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                               placeholder="{{1}}">
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label>Value <span class="info" data-toggle="tooltip" data-placement="top" title="Upload list"></span></label>
                                    <select class="form-select">
                                        <option selected="">Customer Name (File)</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label>Fallback <span class="info" data-toggle="tooltip" data-placement="top" title="Upload list"></span></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                               placeholder="Fallback">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                               placeholder="{{1}}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <select class="form-select">
                                        <option selected="">Address (File)</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                               placeholder="Fallback">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <p class="body-note">
                        Note - URLs mentioned in the fallback will not be
                        tracked.
                    </p>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn primary-btn">Next</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="template-preview">
                <h4>Preview</h4>
                <div class="template-white-card">
                    <span><img src="../images/card-img-03.webp"></span>
                    <div class="description">
                        <p>Dear {{1}}</p>
                        <p>We are excited to present you with an exclusive offer ! {{}}</p>
                    </div>
                    <div class="time">1:59 PM</div>

                </div>
            </div>
        </div>
    </div>
</div>