<div class="content">
    <div class="container-fluid">
        <h3 class="sub-heading">Dashboard</h3>
        <div class="row dashboard-cards">
            <div class="col-md-4">
                <div class="card padding d-flex align-items-center justify-content-between flex-row">
                    <div class="count">
                        <span>
                            <span class="count-active">85</span>
                            <span class="green-active">+0%</span>
                        </span>
                        <span class="total-message d-block">Clients</span>
                    </div>
                    <div class="cards-icon clients"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card padding d-flex align-items-center justify-content-between flex-row">
                    <div class="count">
                        <span>
                            <span class="count-active">289</span>
                            <span class="green-active">+0%</span>
                        </span>
                        <span class="total-message d-block">Reports</span>
                    </div>
                    <div class="cards-icon reports"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card padding d-flex align-items-center justify-content-between flex-row">
                    <div class="count">
                        <span>
                            <span class="count-active">189</span>
                            <span class="green-active">+0%</span>
                        </span>
                        <span class="total-message d-block">Campaigns</span>
                    </div>
                    <div class="cards-icon campaign"></div>
                </div>
            </div>
        </div>
    </div>
</div>