@model F4ConversationCloud.SuperAdmin.Models.TemplateViewModel

<div id="authentication-setup-fields" class="setup">
    <div class="card padding">
        <div class="d-flex justify-content-between mb-3">
            <h3>Template name<sup>*</sup></h3>
            <span class="question"></span>
        </div>
        <div class="template-question mb-3">
            <label for="exampleInputEmail1" class="form-label">Give your message template a name.</label>
            <input type="email"
                   class="form-control"
                   id="exampleInputEmail1"
                   placeholder="Template name"
                   aria-describedby="emailHelp" />
            <div id="emailHelp" class="form-text">
                Template names can only contain small letters, numbers and
                underscores.
            </div>
        </div>
    </div>
    <div class="card padding">
        <div class="d-flex justify-content-between mb-3">
            <h3>Language<sup>*</sup></h3>
            <span class="question"></span>
        </div>
        <div class="template-question mb-3">
            <label for="exampleInputEmail1" class="form-label">
                Choose which languages your message template will be sent
                in.
            </label>
            <select class="form-select" aria-label="Default select example">
                <option selected>select languages</option>
                <option value="1">English (UK)</option>
                <option value="2">English (US)</option>
                <option value="3">Hindi</option>
                <option value="4">Marathi</option>
            </select>
        </div>
    </div>
    <div class="card padding">
        <h6>Code delivery setup</h6>
        <p>Choose how customers send the code from WhatsApp to your app. Edits to this section won't require review or count towards edit limits. Learn how to send authentication message templates.</p>
        <div class="row">
            <div class="col-md-12">
                <div class="mb-3">
                    <div class="form-check radio-btn mb-3">
                        <input class="form-check-input"
                               type="radio"
                               name="zerotabRadioDefault"
                               id="zerotabRadioDefault"
                               value="authentication-setup-fields" />
                        <label class="form-check-label"
                               for="zerotabRadioDefault">
                            Zero-tap autofill
                            <p class="mt-1">This is recommended as the easiest option for your customers. Zero-tap will automatically send code without requiring your customer to tap a button. An autofill or copy code message will be sent if zero-tap and autofill aren’t possible.</p>
                        </label>
                    </div>


                </div>
                <div class="mb-3">
                    <div class="form-check radio-btn mb-3">
                        <input class="form-check-input"
                               type="radio"
                               name="zerotabRadioDefault"
                               id="onetabRadioDefault"
                               value="authentication-setup-fields" />
                        <label class="form-check-label"
                               for="onetabRadioDefault">
                            One-tap autofill
                            <p class="mt-1">The code sends to your app when customers tap the button. A copy code message will be sent if autofill isn’t possible.</p>
                        </label>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="form-check radio-btn mb-3">
                        <input class="form-check-input"
                               type="radio"
                               name="zerotabRadioDefault"
                               id="copytabRadioDefault"
                               value="authentication-setup-fields" />
                        <label class="form-check-label"
                               for="copytabRadioDefault">
                            Copy code
                            <p class="mt-1">Basic authentication with quick setup. Your customers copy and paste the code into your app.</p>
                        </label>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="card padding">
        <h6>Content</h6>
        <p>Content for authentication message templates can't be edited. You can add additional content from the options below.</p>
        <div class="row">
            <div class="col-md-12">
                <div class="form-check form-checkbox mb-2" id="check-Marketing">
                    <input class="form-check-input" type="checkbox" id="checkbox-marketing">
                    <label class="form-check-label ps-2" for="checkbox-marketing"> Add security recommendation</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-check form-checkbox mb-2" id="check-authentication">
                    <input class="form-check-input" type="checkbox" id="checkbox-authentication">
                    <label class="form-check-label ps-2" for="checkbox-authentication"> Add expiration time for the code</label>
                </div>
            </div>
        </div>
    </div>
    <div class="card padding">
        <h3 class="mb-2">Message validity period</h3>
        <p>You can set a custom validity period that your marketing message must be delivered by before it expires. If a message is not delivered within this timeframe, you will not be charged and your customer will not see the message.</p>

        <div class="d-flex">
            <div>
                <h3 class="mb-2">Set custom validity period for your message</h3>
                <p>If you don't set a custom validity period, the standard 10 minutes WhatsApp message validity period will be applied.</p>
            </div>
            <div class="form-check form-switch"> <input class="form-check-input" type="checkbox" id="validitySwitchCheckChecked"> </div>
        </div>
        <div class="validity-periods template-question mt-3" id="toggleDiv1">
            <h3 class="mb-2">Validity period</h3>
            <select class="form-select" aria-label="Default select example">

                <option value="1" selected>30 seconds</option>
                <option value="2">1 Minutes</option>
                <option value="3">2 Minutes</option>
                <option value="4">5 Minutes</option>
                <option value="4">10 Minutes</option>
                <option value="4">15 Minutes</option>

            </select>
        </div>
    </div>
</div>