<div class="creation-card template-creation">
    <div class="creation-header">
        <div class="">
            <h3>untitled <span class="default ms-1">Default</span></h3>
            <span class="small-text">Marketing</span>
        </div>
        <div>
            <span class="lang">English (UK)</span>
        </div>
    </div>
    <div class="mt-3 form-wrapper">
        <h3 class="mb-2">Template name and language</h3>
        <div class="d-flex gap-3">
            <div class="flex-grow-1">
                <label>Name your template</label>
                <div class="input-group needs-validation">
                    <input type="text" class="form-control" placeholder="Enter a template name">
                    <div class="invalid-feedback">Validation Error</div>
                </div>
            </div>
            <div class="w-25">
                <label>Select language</label>
                <select class="form-select" aria-label="Default select example">
                    <option value="1">English (UK)</option>
                    <option value="2">English (US)</option>
                    <option value="3">Hindi</option>
                    <option value="4">Marathi</option>
                </select>
            </div>

        </div>
        <hr>

        <h3 class="mb-1">Content <sup class="error-star">*</sup></h3>
        <p>Add a header, body and footer for your template. We will review the template variables and content to protect the security and integrity of our services</p>
        <label>Type of variable</label>
        <div class="d-flex gap-3">
            <div class="form-check radio-btn">
                <input class="form-check-input"
                       type="radio"
                       name="flexRadioDefault"
                       id="flexRadioDefault1"
                       value="Name" />
                <label class="form-check-label"
                       for="flexRadioDefault1">
                    Name
                </label>
            </div>
            <div class="form-check radio-btn">
                <input class="form-check-input"
                       type="radio"
                       name="flexRadioDefault"
                       id="flexRadioDefault3"
                       value="Number" />
                <label class="form-check-label"
                       for="flexRadioDefault3">
                    Number
                </label>
            </div>

        </div>
        <label class="mt-3">Media sample</label>
        <div class="d-flex gap-3">
            <div class="form-check radio-btn">
                <input class="form-check-input"
                       type="radio"
                       name="flexRadioDefault"
                       id="flexRadioDefault4"
                       value="None" />
                <label class="form-check-label"
                       for="flexRadioDefault4">
                    None
                </label>
            </div>
            <div class="form-check radio-btn">
                <input class="form-check-input"
                       type="radio"
                       name="flexRadioDefault"
                       id="flexRadioDefault5"
                       value="Number" />
                <label class="form-check-label"
                       for="flexRadioDefault5">
                    Image
                </label>
            </div>
            <div class="form-check radio-btn">
                <input class="form-check-input"
                       type="radio"
                       name="flexRadioDefault"
                       id="flexRadioDefault6"
                       value="Number"
                       checked />
                <label class="form-check-label"
                       for="flexRadioDefault6">
                    Carousel
                </label>
            </div>
            <div class="form-check radio-btn">
                <input class="form-check-input"
                       type="radio"
                       name="flexRadioDefault"
                       id="flexRadioDefault10"
                       value="Number" />
                <label class="form-check-label"
                       for="flexRadioDefault10">
                    Video
                </label>
            </div>
            <div class="form-check radio-btn">
                <input class="form-check-input"
                       type="radio"
                       name="flexRadioDefault"
                       id="flexRadioDefault7"
                       value="Number" />
                <label class="form-check-label"
                       for="flexRadioDefault7">
                    Document
                </label>
            </div>
            <div class="form-check radio-btn">
                <input class="form-check-input"
                       type="radio"
                       name="flexRadioDefault"
                       id="flexRadioDefault8"
                       value="Number" />
                <label class="form-check-label"
                       for="flexRadioDefault8">
                    Location
                </label>
            </div>

        </div>
        <div class="media-note">
            You can add a maximum of 10 carousel (recommended image size 800×800 px).
        </div>

        <div class="image-upload mt-2">
            <div>
                <span class="image">
                    <img src="images/image 7.png">
                </span>
                <span class="file-text">veggies.png</span>
            </div>
            <button class="close"></button>
        </div>

        <div class="drag-file-wrapper" id="attatchment">
            <label class="drag-file">
                <input type="file" />
                <span class="download-icon"></span>
                <span class="drag-title">Click or drag file to this area to upload</span>

            </label>
        </div>
        <div class="accordion-guide template-accordion mt-4">
            <div class="accordion" id="accordionWrap">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Card 1
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                         data-bs-parent="#accordionWrap">
                        <div class="accordion-body">
                            <div>
                                <div class="mb-2 flex-grow-1">
                                    <label>Header</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Add a short line of text to the header of your message in English" disabled>
                                    </div>
                                </div>
                                <div class="mb-2 flex-grow-1">
                                    <label>Body</label>
                                    <div id="content" contenteditable="true" spellcheck="false">
                                        Lorem, ipsum.
                                    </div>

                                    <div class="toolbar">
                                        <div class="btn-toolbar">
                                            <div class="emoji">
                                                <button class='bx bx-emoji'>
                                                    <div class="emoji-wrapper">
                                                        <emoji-picker class="emojipicker" id="picker"></emoji-picker>
                                                    </div>
                                                </button>
                                            </div>
                                            <button onclick="formatDoc('bold')"><i class='bx bx-bold'></i></button>
                                            <button onclick="formatDoc('underline')"><i class='bx bx-underline'></i></button>
                                            <button onclick="formatDoc('italic')"><i class='bx bx-italic'></i></button>
                                            <button onclick="formatDoc('strikeThrough')"><i class='bx bx-strikethrough'></i></button>
                                            <button onclick="formatDoc('insertOrderedList')"><i class='bx bx-list-ol'></i></button>
                                            <button onclick="formatDoc('insertUnorderedList')"><i class='bx bx-list-ul'></i></button>

                                        </div>
                                        <button class="add-variables">Add Variables</button>
                                    </div>

                                </div>
                                <div class="variables-sample mb-2">
                                    <div class="flex-grow-1">
                                        <label>Variable Samples</label>
                                        <p>Include samples of all variables in your message to help review your template. Remember not to include any customer information to protect your customer’s privacy.</p>
                                        <div class="form-wrapper">
                                            <label>Body</label>
                                            <div class="d-flex gap-2">
                                                <div class="small-input">
                                                    <input type="text" class="form-control" value="{{1}}" disabled>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <input type="text" class="form-control" placeholder="Enter content for {{1}}">
                                                </div>
                                                <a href="#" class="delete"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-2 flex-grow-1">
                                    <label>Footer</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Enter Text">
                                    </div>
                                </div>
                                <div class="mb-3 flex-grow-1">
                                    <label>Button </label>
                                    <div class="button-note">
                                        <i class="info"></i>Only one button is supported for this type of template and the button text is not editable.
                                    </div>
                                </div>
                                <div class="mb-2 flex-grow-1">
                                    <div class="d-flex align-items-center mb-1">
                                        <label class="mb-0">Button<span class="light-text"> (Optional)</span> </label>
                                        <div class="dropdown add-btn-template">
                                            <button class="btn dropdown-toggle secondary-btn add-btn d-flex" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                Add button
                                            </button>
                                            <ul class="dropdown-menu" id="template-btn" aria-labelledby="dropdownMenuButton1">
                                                <li><a class="dropdown-item" href="#" id="custom"><span class=""></span> Custom</a></li>
                                                <li><a class="dropdown-item" href="#" id="visit-website">Visit Website</a></li>
                                            </ul>

                                        </div>
                                    </div>
                                    <p>Create buttons that let customers respond to your message or take action. You can add up to 10 buttons. If you add more than 3 buttons, they will appear in a list.</p>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Enter Text">

                                    </div>
                                </div>
                                <div class="custom-btn mt-4">
                                    <h6>Quick Reply</h6>
                                    <div class="d-flex align-items-end gap-2">
                                        <div class="w-25">
                                            <label>Type</label>
                                            <select class="form-select" aria-label="Default select example">
                                                <option value="1">Custom</option>

                                            </select>
                                        </div>
                                        <div class="flex-grow-1">
                                            <label>Button Text</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Quick Reply">

                                            </div>
                                        </div>
                                        <a href="#" class="delete"></a>

                                    </div>
                                </div>
                                <div class="custom-btn mt-3">
                                    <h6>Call to Action</h6>
                                    <div class="actionbtn d-flex align-items-end gap-2">
                                        <div class="w-25 flex-grow-1">
                                            <label>Type of Action</label>
                                            <select class="form-select" aria-label="Default select example">
                                                <option value="1">Visit website</option>

                                            </select>
                                        </div>
                                        <div class="w-25 flex-grow-1">
                                            <label>Button Text</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Visit website">

                                            </div>
                                        </div>
                                        <div class="w-25 flex-grow-1">
                                            <label>URL Type</label>
                                            <div class="input-group">
                                                <select class="form-select" aria-label="Default select example">
                                                    <option value="1">Static</option>
                                                    <option value="2">Dynamic</option>

                                                </select>

                                            </div>
                                        </div>
                                        <div class="w-25 flex-grow-1">
                                            <label>Website URL</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="https://example.com/">

                                            </div>

                                        </div>
                                        <a href="#" class="delete"></a>
                                    </div>
                                    <div class="actionbtn d-flex align-items-end gap-2 mb-0 pb-0 border-bottom-0">
                                        <div class="flex-grow-1 w-25">
                                            <label>Type of Action</label>
                                            <select class="form-select" aria-label="Default select example">
                                                <option value="1">Visit website</option>

                                            </select>
                                        </div>
                                        <div class="flex-grow-1 w-25">
                                            <label>Button Text</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Visit website">

                                            </div>
                                        </div>
                                        <div class="flex-grow-1 w-25">
                                            <label>URL Type</label>
                                            <div class="input-group">
                                                <select class="form-select" aria-label="Default select example">
                                                    <option value="1">Static</option>
                                                    <option value="2">Dynamic</option>

                                                </select>

                                            </div>
                                        </div>
                                        <div class="flex-grow-1 w-25">
                                            <label>Website URL</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="https://example.com/">

                                            </div>

                                        </div>
                                        <a href="#" class="delete"></a>
                                    </div>
                                    <div class="delete-card">
                                        <a href="#" class="btn btn-danger mt-4">Delete Card 1</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Card 2
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                         data-bs-parent="#accordionWrap">
                        <div class="accordion-body">
                            <div class="mb-2 flex-grow-1">
                                <label>Header</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Add a short line of text to the header of your message in English" disabled>
                                </div>
                            </div>
                            <div class="mb-2 flex-grow-1">
                                <label>Body</label>
                                <div id="content" contenteditable="true" spellcheck="false">
                                    Lorem, ipsum.
                                </div>
                                <div class="toolbar">
                                    <div class="btn-toolbar">

                                        <button onclick="formatDoc('bold')"><i class='bx bx-bold'></i></button>
                                        <button onclick="formatDoc('underline')"><i class='bx bx-underline'></i></button>
                                        <button onclick="formatDoc('italic')"><i class='bx bx-italic'></i></button>
                                        <button onclick="formatDoc('strikeThrough')"><i class='bx bx-strikethrough'></i></button>
                                        <button onclick="formatDoc('insertOrderedList')"><i class='bx bx-list-ol'></i></button>
                                        <button onclick="formatDoc('insertUnorderedList')"><i class='bx bx-list-ul'></i></button>

                                    </div>
                                    <button class="add-variables">Add Variables</button>
                                </div>
                            </div>
                            <div class="variables-sample mb-2">
                                <div class="flex-grow-1">
                                    <label>Variable Samples</label>
                                    <p>Include samples of all variables in your message to help Fortune4 Conversation Cloud review your template. Remember not to include any customer information to protect your customer’s privacy.</p>
                                    <div class="form-wrapper">
                                        <label>Body</label>
                                        <div class="d-flex gap-2">
                                            <div class="small-input">
                                                <input type="text" class="form-control" value="{{1}}" disabled>
                                            </div>
                                            <div class="flex-grow-1">
                                                <input type="text" class="form-control" placeholder="Enter content for {{1}}">
                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>
                            <div class="mb-2 flex-grow-1">
                                <label>Footer</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter Text">

                                </div>
                            </div>
                            <div class="mb-3 flex-grow-1">
                                <label>Button </label>
                                <div class="button-note">
                                    <i class="info"></i>Only one button is supported for this type of template and the button text is not editable.
                                </div>
                            </div>
                            <div class="mb-2 flex-grow-1">
                                <label class="d-flex align-items-center">
                                    Card Button <span class="light-text"> (Optional)</span>
                                    <div class="dropdown add-btn-template">
                                        <button class="btn dropdown-toggle secondary-btn add-btn d-flex" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            Add button
                                        </button>
                                        <ul class="dropdown-menu" id="template-btn" aria-labelledby="dropdownMenuButton1">
                                            <li><a class="dropdown-item" href="#" id="custom"><span class=""></span> Custom</a></li>
                                            <li><a class="dropdown-item" href="#" id="visit-website">Visit Website</a></li>
                                        </ul>

                                    </div>
                                </label>
                                <p>Create buttons that let customers respond to your message or take action. You can add up to 10 buttons. If you add more than 3 buttons, they will appear in a list.</p>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter Text">

                                </div>
                            </div>
                            <div class="custom-btn mt-4">
                                <h6>Quick Reply</h6>
                                <div class="d-flex align-items-end gap-3">
                                    <div class="w-25">
                                        <label>Type</label>
                                        <select class="form-select" aria-label="Default select example">
                                            <option value="1">Custom</option>

                                        </select>
                                    </div>
                                    <div class="flex-grow-1">
                                        <label>Button Text</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Quick Reply">

                                        </div>
                                    </div>
                                    <a href="#" class="delete"></a>

                                </div>
                            </div>
                            <div class="custom-btn mt-3">
                                <h6>Call to Action</h6>
                                <div class="d-flex align-items-end gap-2 mb-3">
                                    <div class="w-25">
                                        <label>Type of Action</label>
                                        <select class="form-select" aria-label="Default select example">
                                            <option value="1">Visit website</option>

                                        </select>
                                    </div>
                                    <div class="flex-grow-1 w-25">
                                        <label>Button Text</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Visit website">

                                        </div>
                                    </div>
                                    <div class="w-25">
                                        <label>URL Type</label>
                                        <div class="input-group">
                                            <select class="form-select" aria-label="Default select example">
                                                <option value="1">Static</option>
                                                <option value="2">Dynamic</option>

                                            </select>

                                        </div>
                                    </div>
                                    <div class="w-25">
                                        <label>Website URL</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="https://example.com/">

                                        </div>

                                    </div>
                                    <a href="#" class="delete"></a>
                                </div>
                                <div class="d-flex align-items-end gap-2">
                                    <div class="w-25">
                                        <label>Type of Action</label>
                                        <select class="form-select" aria-label="Default select example">
                                            <option value="1">Visit website</option>

                                        </select>
                                    </div>
                                    <div class="flex-grow-1 w-25">
                                        <label>Button Text</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Visit website">

                                        </div>
                                    </div>
                                    <div class="w-25">
                                        <label>URL Type</label>
                                        <div class="input-group">
                                            <select class="form-select" aria-label="Default select example">
                                                <option value="1">Static</option>
                                                <option value="2">Dynamic</option>

                                            </select>

                                        </div>
                                    </div>
                                    <div class="w-25">
                                        <label>Website URL</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="https://example.com/">

                                        </div>

                                    </div>
                                    <a href="#" class="delete"></a>
                                </div>
                                <a href="#" class="btn btn-danger mt-4">Delete Card 1</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-new-block"> Add new Card</a>
            </div>
        </div>
    </div>
</div>