@model F4ConversationCloud.SuperAdmin.Models.TemplatesListViewModel

<h2 class="accordion-header" id="headingThirtyTwo">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThirtyTwo" aria-expanded="false" aria-controls="collapseThirtyTwo">
        Templates <span class="light-text ms-1">(5)</span>
    </button>
</h2>
<div id="collapseThirtyTwo" class="accordion-collapse collapse" aria-labelledby="headingThirtyTwo"
     data-bs-parent="#accordionExample">
    <div class="accordion-body">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <span class="lighttext">Created Templates are 142</span>
            <a href="create-templates.html" class="btn primary-btn d-flex">Create Templates</a>
        </div>
        <div class="table-responsive">

            <table class="table user-table form-wrapper">
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>
                            Template Name
                            <div class="input-group">
                                <input type="text" class="form-control srcIcon" placeholder="Search">
                                <span class="searchIcon"></span>
                            </div>
                        </th>
                        <th>
                            Category
                            <div class="input-group">
                                <input type="text" class="form-control srcIcon" placeholder="Search">
                                <span class="searchIcon"></span>
                            </div>
                        </th>
                        <th>
                            Language
                            <div class="input-group">
                                <input type="text" class="form-control srcIcon" placeholder="Search">
                                <span class="searchIcon"></span>
                            </div>
                        </th>


                        <th>
                            Last Updated
                            <label class="datewrap" for="datepicker">
                                <input type="text"
                                       id="datepicker2"
                                       class="form-control datepicker search-form-control"
                                       placeholder="Select Date" />
                                <span class="dateIcon"></span>
                            </label>

                        </th>

                        <th>
                            Status
                            <select class="form-select">
                                <option selected>Select Status</option>
                                <option>Approved</option>
                                <option>Rejected</option>

                            </select>
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="center">01</td>
                        <td>
                            <span class="message-block">
                                Onboarding_Invite_Template
                            </span>
                        </td>
                        <td>Marketing</td>
                        <td>English (en)</td>
                        <td>
                            <span class="date">15 Apr 2025</span>
                            <span class="datetime">at 11:30 am</span>
                        </td>

                        <td><span class="badge success">Approved</span></td>
                        <td>
                            <div class="action">
                                <a href="#" class="edit-icon"></a>
                                <a href="#" class="delete-blue"></a>
                                <a href="#" class="view" data-bs-toggle="modal" data-bs-target="#exampleModal"></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">02</td>
                        <td>
                            <span class="message-block">
                                Welcome_Form
                            </span>
                        </td>
                        <td>Utility</td>
                        <td>English (en)</td>
                        <td>
                            <span class="date">15 Apr 2025</span>
                            <span class="datetime">at 11:30 am</span>
                        </td>

                        <td><span class="badge danger">Rejected</span></td>
                        <td>
                            <div class="action">
                                <a href="#" class="edit-icon"></a>
                                <a href="#" class="delete-blue"></a>
                                <a href="#" class="view" data-bs-toggle="modal" data-bs-target="#exampleModal"></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">03</td>
                        <td>
                            <span class="message-block">
                                Start_Onboard
                            </span>
                        </td>
                        <td>Authentication</td>
                        <td>English (en)</td>
                        <td>
                            <span class="date">15 Apr 2025</span>
                            <span class="datetime">at 11:30 am</span>
                        </td>

                        <td><span class="badge warning">Pending</span></td>
                        <td>
                            <div class="action">
                                <a href="#" class="edit-icon"></a>
                                <a href="#" class="delete-blue"></a>
                                <a href="#" class="view" data-bs-toggle="modal" data-bs-target="#exampleModal"></a>
                            </div>
                        </td>
                    </tr>
                </tbody>



            </table>
        </div>
        <nav aria-label="navigation example">
            <ul class="pagination mt-4 d-flex justify-content-center">
                <li class="page-item"><a class="page-link" href="#">&lt;</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item active"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item"><a class="page-link" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">20</a></li>
                <li class="page-item"><a class="page-link" href="#">&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>