@using F4ConversationCloud.Application.Common.Models.SuperAdmin
@model F4ConversationCloud.SuperAdmin.Models.InvoiceViewModel
@{
    ViewData["Title"] = "Invoice";
}
<div class="content">
    <div class="container-fluid">
        <!-- <h3 class="sub-heading text-center">Invoice</h3> -->
        <div class="card">
            <div class="d-flex justify-content-between">
                <!-- <h3 class="sub-heading text-center mb-0">
                    <a href="billing-details.html"><span class="back"></span>Invoice</a>
                </h3> -->
                <h3 class="sub-heading">
                    <a href="@Url.Action("billingDetails", "Billing", new { PhoneNumberId = Model.PhoneNumberId, MetaConfigId = Model.MetaConfigid })" " class="d-flex align-items-center">
                        <span class="back"></span>
                        <div>
                            <small class="light-text d-block fw-normal">Invoice </small>
                            @Model.InvoiceData.OrganizationsName
                        </div>
                    </a>
                </h3>
                <div class="download-btn">
                    <a href="@Url.Action("DownloadInvoicePdf", "Billing", new { PhoneNumberId = Model.PhoneNumberId, MetaConfigId = Model.MetaConfigid, StartDate = Model.StartDate, EndDate = Model.EndDate })" class="btn primary-btn d-flex">Download</a>
                </div>
            </div>
            <div style="margin:0;padding:0;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;line-height:1.5;font-size:14px;">
                @await Html.PartialAsync("_InvoicePdfPartial", Model)
            </div>
        </div>
    </div>

</div>