@use "variables";
@use "mixin";

.app-header{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 100;
    max-width: 100%;
    border-bottom: 1px solid rgb(0 0 0 / 25%);
    margin-left: 260px;
        transition: margin-left 0.35s 
ease-in-out, left 0.35s 
ease-in-out, margin-right 0.35s 
ease-in-out, right 0.35s 
ease-in-out;
    .appheader-wrap{
        display: flex;
        justify-content: space-between;
        padding: 15px .75rem;
        background-color: #FFFFFF;
        max-height: 59px;
        min-height: 59px;
        .searchBox{
            .input-group{
                width: 400px;
                .form-control{
                    background-color: #E3EBF3;
                    font-size: 13px;
                    width: 100%;
                    border-right: 0px;
                    height: 35px;
                    &:focus{
                        box-shadow: none;
                        border: 1px solid #ddd;
                        border-right: 0px;
                    }
                }
                .input-group-text{
                    background-color: #E3EBF3;
                    border-left:0px;
                    &::after{
                        content:"";
                        background-image: url("data:image/svg+xml,%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.2674 9.52847H9.61899L9.38919 9.30687C10.3741 8.15786 10.8829 6.59028 10.6039 4.92421C10.2181 2.6426 8.31404 0.820595 6.01602 0.54155C2.54436 0.114774 -0.377414 3.03655 0.0493621 6.50821C0.328408 8.80623 2.15041 10.7103 4.43202 11.096C6.09809 11.3751 7.66567 10.8662 8.81468 9.88138L9.03628 10.1112V10.7596L12.5244 14.2476C12.8609 14.5841 13.4107 14.5841 13.7472 14.2476C14.0837 13.9111 14.0837 13.3612 13.7472 13.0247L10.2674 9.52847ZM5.34303 9.52847C3.29943 9.52847 1.64977 7.87881 1.64977 5.83521C1.64977 3.79161 3.29943 2.14196 5.34303 2.14196C7.38663 2.14196 9.03628 3.79161 9.03628 5.83521C9.03628 7.87881 7.38663 9.52847 5.34303 9.52847Z' fill='%231D242E'/%3E%3C/svg%3E");
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 14px;width:14px;
                        display: block;
                    }
                }
            }
        }
        .profile-dropdown{
            display: flex;
            align-items: center;
            gap: 10px;
            .form-select{
                font-size: 14px;
                border: 0px;
                
                &:focus{
                    box-shadow: none;
                    border: 0px;

                }
                .lang-icon{
                    &::after{
                        content:"";
                        background-image: url("data:image/svg+xml,%3Csvg width='20' height='17' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.7256 11.0583L8.60898 8.96667L8.63398 8.94167C10.084 7.325 11.1173 5.46667 11.7256 3.5H14.1673V1.83333H8.33398V0.166666H6.66732V1.83333H0.833984V3.49167H10.1423C9.58398 5.1 8.70065 6.625 7.50065 7.95833C6.72565 7.1 6.08398 6.15833 5.57565 5.16667H3.90898C4.51732 6.525 5.35065 7.80833 6.39232 8.96667L2.15065 13.15L3.33398 14.3333L7.50065 10.1667L10.0923 12.7583L10.7256 11.0583ZM15.4173 6.83333H13.7506L10.0007 16.8333H11.6673L12.6006 14.3333H16.559L17.5006 16.8333H19.1673L15.4173 6.83333ZM13.234 12.6667L14.584 9.05833L15.934 12.6667H13.234Z' fill='%231D242E'/%3E%3C/svg%3E");
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        height: 20px;
                        width:20px;
                        display: block;
                    }
                }
            }
            .ask-ai{
                a{
                    color: #000;
                    font-size: 15px;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    .question{
                        background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.95768 15.5C10.2493 15.5 10.496 15.3992 10.6977 15.1975C10.8994 14.9958 10.9999 14.7494 10.9993 14.4583C10.9988 14.1672 10.8982 13.9206 10.6977 13.7183C10.4971 13.5161 10.2505 13.4156 9.95768 13.4167C9.66491 13.4178 9.41852 13.5186 9.21852 13.7192C9.01852 13.9197 8.91768 14.1661 8.91602 14.4583C8.91435 14.7506 9.01518 14.9972 9.21852 15.1983C9.42185 15.3994 9.66824 15.5 9.95768 15.5ZM9.20768 12.2917H10.7493C10.7493 11.8333 10.8016 11.4722 10.906 11.2083C11.0105 10.9444 11.3055 10.5833 11.791 10.125C12.1521 9.76389 12.4368 9.42 12.6452 9.09333C12.8535 8.76667 12.9577 8.37444 12.9577 7.91667C12.9577 7.13889 12.673 6.54167 12.1035 6.125C11.5341 5.70833 10.8605 5.5 10.0827 5.5C9.29102 5.5 8.64879 5.70833 8.15602 6.125C7.66324 6.54167 7.31935 7.04167 7.12435 7.625L8.49935 8.16667C8.56879 7.91667 8.72518 7.64583 8.96852 7.35417C9.21185 7.0625 9.58324 6.91667 10.0827 6.91667C10.5271 6.91667 10.8605 7.03833 11.0827 7.28167C11.3049 7.525 11.416 7.79222 11.416 8.08333C11.416 8.36111 11.3327 8.62167 11.166 8.865C10.9993 9.10833 10.791 9.33389 10.541 9.54167C9.9299 10.0833 9.55491 10.4931 9.41602 10.7708C9.27713 11.0486 9.20768 11.5556 9.20768 12.2917ZM9.99935 18.8333C8.84657 18.8333 7.76324 18.6147 6.74935 18.1775C5.73546 17.7403 4.85352 17.1464 4.10352 16.3958C3.35352 15.6453 2.75991 14.7633 2.32268 13.75C1.88546 12.7367 1.66657 11.6533 1.66602 10.5C1.66546 9.34667 1.88435 8.26333 2.32268 7.25C2.76102 6.23667 3.35463 5.35472 4.10352 4.60417C4.85241 3.85361 5.73435 3.26 6.74935 2.82333C7.76435 2.38667 8.84768 2.16778 9.99935 2.16667C11.151 2.16556 12.2343 2.38444 13.2493 2.82333C14.2643 3.26222 15.1463 3.85583 15.8952 4.60417C16.6441 5.3525 17.238 6.23444 17.6768 7.25C18.1157 8.26556 18.3344 9.34889 18.3327 10.5C18.331 11.6511 18.1121 12.7344 17.676 13.75C17.2399 14.7656 16.6463 15.6475 15.8952 16.3958C15.1441 17.1442 14.2621 17.7381 13.2493 18.1775C12.2366 18.6169 11.1532 18.8356 9.99935 18.8333ZM9.99935 17.1667C11.8605 17.1667 13.4368 16.5208 14.7285 15.2292C16.0202 13.9375 16.666 12.3611 16.666 10.5C16.666 8.63889 16.0202 7.0625 14.7285 5.77083C13.4368 4.47917 11.8605 3.83333 9.99935 3.83333C8.13824 3.83333 6.56185 4.47917 5.27018 5.77083C3.97852 7.0625 3.33268 8.63889 3.33268 10.5C3.33268 12.3611 3.97852 13.9375 5.27018 15.2292C6.56185 16.5208 8.13824 17.1667 9.99935 17.1667Z' fill='%23283342'/%3E%3C/svg%3E");
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        height: 20px;
                        width: 20px;
                        display: block;
                        margin-left: 7px;
                    }
                }
                
            }
            .profile{
                line-height: 1;
                border-left:1px solid #ddd;
                padding-left: 13px;
                .profile-name{
                    height: 35px;
                    width: 35px;
                    background-color: #03a9f5;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    text-decoration: none;
                    font-size: 18px;
                    
                }
                .dropdown-menu{
                    padding: 14px 12px;
                        min-width: 11rem;
                    left: -43% !important;
                    .name{
                        font-size: 15px;
                        color: #000;
                        font-weight: 500;
                        margin-bottom: 10px;
                        display: block;
                    }
                    li{
                        
                        .dropdown-item{
                            padding: 10px 0px;
                            font-size: 15px;
                            border-bottom: 1px solid #ddd;
                            display: flex;
                            gap: 10px;
                            &:hover{
                                background-color: transparent;
                            }
                            &.user{
                                &::before{
                                    content:"";
                                    background-image: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle/%3E%3Cg id='Complete'%3E%3Cg id='user'%3E%3Cg%3E%3Cpath d='M20,21V19a4,4,0,0,0-4-4H8a4,4,0,0,0-4,4v2' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3Ccircle cx='12' cy='7' fill='none' r='4' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                                    background-size: cover;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    height: 18px;width: 18px;display: block;
                                }
                            }
                            &.signout{
                                &::before{
                                    content:"";
                                    background-image: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 20.7499H6C5.65324 20.7647 5.30697 20.7109 4.98101 20.5917C4.65505 20.4725 4.3558 20.2902 4.10038 20.0552C3.84495 19.8202 3.63837 19.5371 3.49246 19.2222C3.34654 18.9073 3.26415 18.5667 3.25 18.2199V5.77994C3.26415 5.43316 3.34654 5.09256 3.49246 4.77765C3.63837 4.46274 3.84495 4.17969 4.10038 3.9447C4.3558 3.70971 4.65505 3.52739 4.98101 3.40818C5.30697 3.28896 5.65324 3.23519 6 3.24994H9C9.19891 3.24994 9.38968 3.32896 9.53033 3.46961C9.67098 3.61027 9.75 3.80103 9.75 3.99994C9.75 4.19886 9.67098 4.38962 9.53033 4.53027C9.38968 4.67093 9.19891 4.74994 9 4.74994H6C5.70307 4.72412 5.4076 4.81359 5.17487 4.99977C4.94213 5.18596 4.78999 5.45459 4.75 5.74994V18.2199C4.78999 18.5153 4.94213 18.7839 5.17487 18.9701C5.4076 19.1563 5.70307 19.2458 6 19.2199H9C9.19891 19.2199 9.38968 19.299 9.53033 19.4396C9.67098 19.5803 9.75 19.771 9.75 19.9699C9.75 20.1689 9.67098 20.3596 9.53033 20.5003C9.38968 20.6409 9.19891 20.7199 9 20.7199V20.7499Z' fill='%23000000'/%3E%3Cpath d='M16 16.7499C15.9015 16.7504 15.8038 16.7312 15.7128 16.6934C15.6218 16.6556 15.5392 16.6 15.47 16.5299C15.3296 16.3893 15.2507 16.1987 15.2507 15.9999C15.2507 15.8012 15.3296 15.6105 15.47 15.4699L18.94 11.9999L15.47 8.52991C15.3963 8.46125 15.3372 8.37845 15.2962 8.28645C15.2552 8.19445 15.2332 8.09513 15.2314 7.99443C15.2296 7.89373 15.2482 7.7937 15.2859 7.70031C15.3236 7.60692 15.3797 7.52209 15.451 7.45087C15.5222 7.37965 15.607 7.32351 15.7004 7.28579C15.7938 7.24807 15.8938 7.22954 15.9945 7.23132C16.0952 7.23309 16.1945 7.25514 16.2865 7.29613C16.3785 7.33712 16.4613 7.39622 16.53 7.46991L20.53 11.4699C20.6705 11.6105 20.7493 11.8012 20.7493 11.9999C20.7493 12.1987 20.6705 12.3893 20.53 12.5299L16.53 16.5299C16.4608 16.6 16.3782 16.6556 16.2872 16.6934C16.1962 16.7312 16.0985 16.7504 16 16.7499Z' fill='%23000000'/%3E%3Cpath d='M20 12.75H9C8.80109 12.75 8.61032 12.671 8.46967 12.5303C8.32902 12.3897 8.25 12.1989 8.25 12C8.25 11.8011 8.32902 11.6103 8.46967 11.4697C8.61032 11.329 8.80109 11.25 9 11.25H20C20.1989 11.25 20.3897 11.329 20.5303 11.4697C20.671 11.6103 20.75 11.8011 20.75 12C20.75 12.1989 20.671 12.3897 20.5303 12.5303C20.3897 12.671 20.1989 12.75 20 12.75Z' fill='%23000000'/%3E%3C/svg%3E");
                                    background-size: cover;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    height: 18px;width: 18px;display: block;
                                }
                            }
                        }
                        &:last-child{
                            .dropdown-item{
                                border-bottom: 0px;
                                padding-bottom: 0px;
                                
                            }
                        }
                    }
                }
            }
        }
        

    }

}