@import "variables";
@import "mixin";

.pagination {
    display: flex;
    justify-content: center;
    li {
        margin-right: 8px;
        &.active{
            a{
                background-color: transparent!important;
                border-color: #03A9F5!important;
                color: #03A9F5!important;
            }
        }
        a {
            padding: 10px;
            border-radius: 4px;
            font-size: 12px;
            color: #000000;
            line-height: 6px;
            width: 38px;
            height: 38px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: $tabs;
                color: #FFFFFF;
            }

            &:focus {
                box-shadow: none;
                background-color: $tabs;
                color: #FFFFFF;
            }
        }
    }
}