@model F4ConversationCloud.SuperAdmin.Models.UsageViewModel
@{
    ViewData["Title"] = "Usages";
}
<div class="content">
    <div class="container-fluid">

        <div class="card padding">
            <div class="header-content">
                <h3 class="sub-heading">Usages</h3>
                <div class="d-flex form-wrapper align-items-end gap-2">
                    <div>

                        <div id="reportrange" class="reportrange form-control date-form-control">
                            <i class="dateIcon"></i>&nbsp;
                            <span>October 26, 2025 - November 24, 2025</span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="table-responsive">
                <table id="example" class="table user-table billing-table form-wrapper">
                    <thead>
                        <tr>
                            <th>Sr. <br>No</th>

                            <th>
                                Organizations

                                <div class="input-group">
                                    <input type="text" class="form-control srcIcon" placeholder="Search">
                                    <span class="searchIcon"></span>
                                </div>
                            </th>
                            <th>
                                WABA Phone No.
                                <div class="input-group">
                                    <input type="text" class="form-control srcIcon" placeholder="Search">
                                    <span class="searchIcon"></span>
                                </div>
                            </th>
                            <th>
                                WhatsApp Display Name
                                <div class="input-group">
                                    <input type="text" class="form-control srcIcon" placeholder="Search">
                                    <span class="searchIcon"></span>
                                </div>
                            </th>

                            <th> Conversation Type</th>
                            <!-- <th>Duration</th> -->
                            <th>Message</th>
                            <th>Total Amount</th>
                            <th>Actions</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="6" align="center">01</td>

                            <td rowspan="6">

                                <a href="buisness-waba-details.html" class="mb-1 d-block">Buldana Urban Co-op. Credit Society Ltd.</a>

                                <span class="buisness-category"><span class="fw-medium">Category :</span>  Bank</span>
                                <span class="buisness-category"><span class="fw-medium">Client Id :</span> Cl-00001</span>

                            </td>
                            <td rowspan="3"><a href="buisness-details.html">+91-9123456789</a></td>
                            <td rowspan="3">Buldana Urban Credit Society</td>
                            <td>Marketing</td>
                            <!-- <td class="no-wrap">23 May 2025 to 31 Dec 9999</td> -->
                            <td>54</td>
                            <td>₹192.12</td>

                            <td rowspan="3">
                                <div class="action justify-content-center">

                                    <a href="#" class="download" download=""></a>
                                </div>
                            </td>

                        </tr>

                        <!-- <tr>

                            <td>Marketing</td>
                            <td class="no-wrap">22 march 2025 to 31 Dec 9999</td>
                            <td>54</td>
                            <td>&#8377;192.12</td>

                        </tr> -->
                        <tr>
                            <td>Authentication</td>
                            <!-- <td class="no-wrap">22 March 2025 to 22 May 2025</td> -->
                            <td>64</td>
                            <td>₹153.00</td>

                        </tr>
                        <tr>
                            <td>Utility</td>
                            <!-- <td class="no-wrap">22 March 2025 to 31 Dec 9999</td> -->
                            <td>68</td>
                            <td>₹154.64</td>

                        </tr>
                        <tr>
                            <td rowspan="3"><a href="buisness-details.html"> +91-9123456756</a> </td>
                            <td rowspan="3">Buldana Urban Co-op Society HQ</td>
                            <td>Marketing</td>
                            <!-- <td class="no-wrap">22 March 2025 to 31 Dec 9999</td> -->
                            <td>54</td>
                            <td>₹192.12</td>
                            <td rowspan="3">
                                <div class="action justify-content-center">

                                    <a href="#" class="download" download=""></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td>Authentication</td>
                            <!-- <td class="no-wrap">22 March 2025 to 22 May 2025</td> -->
                            <td>64</td>
                            <td>₹153.00</td>

                        </tr>
                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>
            <nav aria-label="navigation example">
                <ul class="pagination mt-5 d-flex justify-content-center">
                    <li class="page-item"><a class="page-link" href="#">&lt;</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item active"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">20</a></li>
                    <li class="page-item"><a class="page-link" href="#">&gt;</a></li>
                </ul>
            </nav>
        </div>

    </div>
</div>
@section Scripts{

    <script>
        $(function() {
            var start = moment().subtract(29, 'days');
            var end = moment();

            function cb(start, end) {
                $('.reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }

            $('.reportrange').daterangepicker({
                endDate: moment().startOf('hour').add(32, 'hour'),

                startDate: start,
                endDate: end,
                ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            cb(start, end);

            });
    </script>
}