@model F4ConversationCloud.SuperAdmin.Models.ClientManagementViewModel
@{
    ViewData["Title"] = "Client List";
}

<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header-content">
                <h3 class="sub-heading">Business Accounts</h3>
            </div>
            <partial name="_BusinessAccountsListPartial" model="@Model" />
        </div>
    </div>
</div>
<!-- Reject comment Modal -->
@* <div class="modal fade comment-modal" id="reject-comment-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <span class="action-icon reject"></span>
                <h4>Rejected Comment</h4>
                <p id="reject-comment-text"></p>
            </div>
        </div>
    </div>
</div> *@
<!--end Reject comment Modal -->

@section Scripts {
    <script>  
        function loadData() {
            var clientNameSearch = $("[name=ClientNameSearch]").val();
            var onboardingFilter = $("[name=OnboardingOnFilter]").val();
            var statusFilter = $("[name=StatusFilter]").val();
            var PhoneNumberFilter = $("[name=PhoneNumberFilter]").val();
            var pageNumber = 1;
            location.href = '@Url.Action("List", "ClientManagement")' +
                '?clientNameSearch=' + clientNameSearch +
                '&onboardingOnFilter=' + encodeURIComponent(onboardingFilter) +
                '&statusFilter=' + encodeURIComponent(statusFilter) +
                '&PhoneNumberFilter=' + encodeURIComponent(PhoneNumberFilter) +
                '&PageNumber=' + pageNumber;
        }

        $(".page-link").click(function () {
            var pageNumber = $(this).data("page-number");
            if (pageNumber !== undefined && pageNumber !== null) {
                var clientNameSearch = $("[name=ClientNameSearch]").val();
                var onboardingFilter = $("[name=OnboardingOnFilter]").val();
                var statusFilter = $("[name=StatusFilter]").val();
                var PhoneNumberFilter = $("[name=PhoneNumberFilter]").val();

                location.href = '@Url.Action("List", "ClientManagement")' +
                    '?clientNameSearch=' + clientNameSearch +
                    '&onboardingOnFilter=' + encodeURIComponent(onboardingFilter) +
                    '&statusFilter=' + encodeURIComponent(statusFilter) +
                    '&PhoneNumberFilter=' + encodeURIComponent(PhoneNumberFilter) +
                    '&PageNumber=' + pageNumber;
            }
        });

        $(".srcIcon").on("keypress", function (e) {
            if (e.which === 13) {
                loadData();
            }
        });

        // function addRejectComment(comment){
        //     var modal = new bootstrap.Modal(document.getElementById('reject-comment-modal'));
        //     modal.show();

        //     $('#reject-comment-text').text(comment);
        // }
    </script>
}