<div class="card padding">
    <h3>Select Audience</h3>
    <div class="upload-list">
        Upload list
        <span class="info" data-toggle="tooltip" data-placement="top" title="Upload list"></span>
    </div>
    <div class="form-check my-3">
        <input class="form-check-input" type="checkbox" value="" id="linkTracking">
        <label class="form-check-label" for="linkTracking">
            Enable link tracking
        </label>
    </div>
    <p class="track-link">
        Track link clicks to effectively manage your campaigns, applicable
        only if you upload list with URLs. Links must be in the format
        “https://www.someurl.xyz/uvw”. <a href="#">Learn More</a>
    </p>
    <div class="form-wrapper">
        <input class="form-control" type="file" id="formFile">

        <div class="download-sample">
            <div class="form-control">
                <a href="#" class="d-flex align-items-center gap-2">
                    <span class="download-icon"></span>Download Sample
                </a>
            </div>
        </div>
    </div>

    <ul class="mandatory">
        <li>“Phone” column is mandatory.</li>
        <li>Phone number should have country code as prefix and no '+' symbol</li>
    </ul>

    <div class="form-check confirm">
        <input class="form-check-input" type="checkbox" value="" id="confirm">
        <label class="form-check-label" for="confirm">
            I confirm that the contacts uploaded have agreed to receive this communication.
        </label>
    </div>

    <div class="d-flex justify-content-end mt-3">
        <button class="btn primary-btn disabled">Next</button>
    </div>
</div>