@model F4ConversationCloud.ClientAdmin.Models.CampaignViewModel.CreateCampaignViewModel;
<div class="card padding">
    <h3>Select Audience</h3>
    <div class="form-wrapper mt-2">
        <form asp-action="CreateCampaign" method="post">
            <div class="row">
                <div class="col-md-6">
                    <label>Name</label>
                    <input asp-for="CampaignName" type="text" class="form-control" placeholder="Enter name">
                    <span asp-validation-for="CampaignName" class="text-danger"></span>

                </div>
                <div class="col-md-6">
                    <label>Select Account</label>
                    @{
                        var ClientMobileNO = Context.Session.GetString("ClientMobileNO");
                    }
                    <input type="text" class="form-control" value="@ClientMobileNO" placeholder="Enter name" readonly>
                </div>
            </div>
            <div class="d-flex justify-content-end mt-3">
                <button class="btn primary-btn">Next</button>
            </div>
        </form>

    </div>
</div>