<div class="modal fade modal-wrapper" id="createTemplate" tabindex="-1" aria-labelledby="createTemplateLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Terms & Conditions</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body form-wrapper tncWrapper">
                <ul>
                    <li>
                        Introduction
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </li>
                    <li>
                        User Responsibilities
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </li>
                    <li>
                        Account and security
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </li>
                    <li>
                        Account and security
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <ol>
                            <li>adads</li>
                            <li>adads</li>
                            <li>adads</li>
                        </ol>
                    </li>
                    <li>
                        Account and security
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </li>
                </ul>
            </div>
             <div class="modal-footer justify-content-end modalTnc">
                @* <div class="form-check d-flex justify-content-start terms-check gap-2"> *@
                @*     <input type="checkbox" class="form-check-input" id="agreeTermsModal"> *@
                @*     <label class="form-check-label" for="agreeTermsModal">I have read and agree to the Terms & Conditions</label> *@
                @* </div> *@
                <button type="button" class="btn verifyBtn" id="TermsConditionsverifyBtn">Yes, i Agreed</button>
            </div>
        </div>
    </div>
</div>