@{
    ViewData["Title"] = "Clients";
}

<!-- End Header Bar -->
<div class="content">
    <div class="container-fluid">
        <h3 class="sub-heading">Client List</h3>
        <div class="card padding">

            <div class="filterWrapper form-wrapper">
                <div class="filterwrap">
                    <ul class="filter-list">
                        <li>
                            <div>
                                <label>Search</label>
                                <div class="input-group">
                                    <input type="text" class="form-control srcIcon" placeholder="Search">
                                    <span class="searchIcon"></span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <label>Onboarding Status</label>
                                <select class="form-select">
                                    <option selected>Select Status</option>
                                    <option>Approve</option>
                                    <option>Reject</option>
                                </select>
                            </div>
                        </li>
                    </ul>
                    <button class="btn secondary-btn"><i class="reset"></i></button>
                </div>


            </div>
            <div class="table-responsive">
                <table class="table user-table">
                    <thead>
                    <th>Sr.No</th>
                    <th>Client Name</th>

                    <th>Business Display Name</th>
                    <th>Onboarding On</th>
                    <th>Status</th>
                    <th>Onboarding Status</th>
                    <th>Reject Comments</th>
                    <th>Actions</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <a href="client-details.html">Buldana Urban</a>
                                <span class="buisness-category">Bank</span>
                            </td>

                            <td>Buldana Urban Coop. Credit Society</td>
                            <td>08-22-2025, 06:04:55</td>
                            <td>Connected</td>
                            <td>-</td>
                            <td>
                                <span class="message-block">
                                    -
                                </span>
                            </td>
                            <td>
                                <div class="action">
                                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal1">Approve</button>
                                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Reject</button>

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                <a href="client-details.html">BrightLeaf Organics</a>
                                <span class="buisness-category">Bank</span>
                            </td>

                            <td>BrightLeaf Organics Co.</td>
                            <td>07-02-2025, 06:04:55</td>
                            <td>Offline</td>
                            <td>
                                <span class="badge success">Approved</span>
                            </td>
                            <td>
                                <span class="message-block">
                                    -
                                </span>
                            </td>
                            <td>
                                <div class="action">
                                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal1" disabled>Approve</button>
                                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" disabled>Reject</button>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>3</td>
                            <td><a href="client-details.html">BrightLeaf Organics</a></td>
                            <td>BrightLeaf Organics Co.</td>
                            <td>07-02-2025, 06:04:55</td>
                            <td>Offline</td>
                            <td><span class="badge danger">Rejected</span></td>
                            <td>
                                <!-- <span class="message-block">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                </span> -->
                                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal3">View</a>
                            </td>
                            <td>
                                <div class="action">
                                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal1" disabled>Approve</button>
                                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" disabled>Reject</button>
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <nav aria-label="navigation example">
                <ul class="pagination mt-5 d-flex justify-content-center">
                    <li class="page-item"><a class="page-link" href="#">&lt;</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item active"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">20</a></li>
                    <li class="page-item"><a class="page-link" href="#">&gt;</a></li>
                </ul>
            </nav>

        </div>
    </div>
</div>