@model F4ConversationCloud.ClientAdmin.Models.AuthViewModel.ConfirmPasswordViewModel;
@{
    Layout = null;
    ViewData["Title"] = "set new password";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | Fortune4 Cloud Coversation</title>
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.png">

    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link href="~/css/style.css" rel="stylesheet" />

</head>

<body>
    <div class="toastWrap">
    </div>
    <div class="loader-wrapper" id="loader">
        <div class="loader"></div>
    </div>
    <div class="loginwrapper">
        <div class="loginBox">
            <div class="left-col">
                <a href="#" class="logo">
                    <img src="images/logo.svg" />
                </a>

                <p>
                    Your Journey Begins Here Step into a seamless experience where you're guided, supported, and equipped
                    with everything you need to thrive. From understanding our culture to connecting with your team, we
                    make sure your first steps are confident and meaningful.
                </p>


            </div>
            <div class="right-col">

                <div class="bx_wrap">
                    <h4 class="text-center">Create a New Password</h4>
                    <p class="text-center">Set a strong password to keep your account secure.</p>
                    <form class="login-form mt-4" asp-action="SetPassword" asp-controller="Auth" method="post">
                        <input type="hidden" asp-for="UserId">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">


                            <div class="col-md-12">
                                <div class="mb-3">
                                    <div class="d-flex justify-content-between mb-1">
                                        <label for="password" class="form-label">New Password <sup class="error">*</sup></label>

                                    </div>
                                    <div class="d-flex password-wrap">
                                       
                                        <input type="password" asp-for="Password" class="form-control" id="password" placeholder="Enter your new password">
                                        <i class="toggle-password fa fa-fw fa-eye-slash"></i>
                                    </div>
                                    <span asp-validation-for="Password" class="error-message text-danger small"></span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="mb-3">
                                    <div class="d-flex justify-content-between mb-1">
                                        <label for="password" class="form-label">Confirm Password <sup class="error">*</sup></label>

                                    </div>
                                    <div class="d-flex password-wrap">
                                        <input type="password" asp-for="ConfirmPassword" class="form-control" id="cpassword" placeholder="Re-enter your new password">

                                        <i class="toggle-password fa fa-fw fa-eye-slash"></i>
                                    </div>
                                    <span asp-validation-for="ConfirmPassword" class="error-message text-danger small"></span>
                                </div>
                            </div>
    

                        </div>
                        <button type="submit" class="btn login-btn" id="showToastBtn">Update Password</button>
                        <a asp-action="Login" class="back-login">Back To Login</a>
                    </form>
                </div>
            </div>
        </div>
    </div>


    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
     <script src="~/js/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/unobtrusiveHelper.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/commonhelper.js" asp-append-version="true"></script>
    <script src="~/js/commonhelper.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            var toastMsg = @Html.Raw(Json.Serialize(ViewData["ToastMsg"]));
       
                if (toastMsg != null && toastMsg != undefined) {
                    switch (toastMsg.type) {
                        case "Success":
                            commonHelper.showSuccess(toastMsg.message);
                            break;
                        case "Error":
                            commonHelper.showError(toastMsg.message);
                            break;
                        case "Info":
                            commonHelper.showInfo(toastMsg.message);
                            break;
                        case "Warning":
                            commonHelper.showWarning(toastMsg.message);
                            break;
                    }
                }
          
          $(window).on('load', function () {
              $('.loader-wrapper').fadeOut('slow');
          });
     });
    </script>
</body>
</html>
