@model F4ConversationCloud.ClientAdmin.Models.AuthViewModel.ForgotPasswordViewModel;

@{
    Layout = null;
    ViewData["Title"] = "Forgot Password";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | Fortune4 Cloud Coversation</title>
    <link rel="stylesheet" href="~/css/gupshuplogin.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/login.css">


</head>

<body>
    <div class="login-page">
        <div class="left-section">

            <span class="login-bg">
                <div class="fortune4-login">
                    <img src="/images/logo.svg" />
                </div>
            </span>
        </div>
        <div class="right-section">
            <div class="login-bx forgot-bx">
                <h5 class="mb-2">Forgot Your Password ?</h5>
                <p>Enter your email address and we will send you instructions to reset your password.</p>
                <form asp-action="ForgotPassword" method="post">
                    <div class="form-group">
                        <input type="email" asp-for="EmailId" class="form-control" id="exampleInputEmail1" placeholder="name@example.com" aria-describedby="emailHelp">
                  
                        <span asp-validation-for="EmailId" class="error-message text-danger small"></span>

                    </div>
                    <button type="submit" class="btn btn-primary mt-0">Send Verification Mail</button>
                    <a href="create-new-password.html" ></a>
                   
                    <a asp-action="Login" class="forgot text-center d-block mt-3">Back to Login</a>
                </form>
            </div>
        </div>
    </div>
    @if (TempData["SuccessMessage"] != null)
    {
        <input type="hidden" class="temp-message" data-type="success" value="@TempData["SuccessMessage"]" />
    }
    @if (TempData["WarningMessage"] != null)
    {
        <input type="hidden" class="temp-message" data-type="warning" value="@TempData["WarningMessage"]" />
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <input type="hidden" class="temp-message" data-type="danger" value="@TempData["ErrorMessage"]" />
    }
    <div class="loader-wrapper" id="loader">
        <div class="loader"></div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/commonhelper.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/commonhelper.js" asp-append-version="true"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/unobtrusiveHelper.js"></script>

    
</body>
</html>
