@model F4ConversationCloud.ClientAdmin.Models.AuthViewModel.ForgotPasswordViewModel;

@{
    Layout = null;
    ViewData["Title"] = "Forgot Password";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | Fortune4 Cloud Coversation</title>
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.png">

    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link href="~/css/style.css" rel="stylesheet" />


</head>

<body>
    <div class="loginwrapper">
        <div class="loginBox">
            <div class="left-col">
                <a href="#" class="logo">
                    <img src="images/logo.svg" />
                </a>

                <p>
                    Your Journey Begins Here Step into a seamless experience where you're guided, supported, and equipped
                    with everything you need to thrive. From understanding our culture to connecting with your team, we
                    make sure your first steps are confident and meaningful.
                </p>


            </div>
            <div class="right-col">

                <div class="bx_wrap">
                    <h4 class="text-center">Forgot Your Password?</h4>
                    <p class="text-center">Enter your registered email address and we’ll send you a secure link to reset your password.</p>
                    <form class="login-form mt-4" asp-action="ForgotPassword" method="post">
                        <div class="row">


                            <div class="col-md-12 mb-4">
                                <label for="email" class="form-label">Email address <sup class="error">*</sup></label>
                                <input type="email" asp-for="EmailId" class="form-control" id="exampleInputEmail1" placeholder="name@example.com" aria-describedby="emailHelp">

                               
                                <div id="emailHelp" class="form-text">Enter your registered email address to receive a reset link</div>
                                <span asp-validation-for="EmailId" class="error-message text-danger small" id="emailError"></span>

                            </div>
                        </div>
                        <span class="note-text">Didn’t get it? Check your spam folder or try again</span>
                        <button type="submit" class="btn login-btn mt-0">Send Reset Link</button>
                        <a asp-action ="Login" class="back-login">Back To Login</a>
                    </form>


                </div>
            </div>
        </div>
    </div>
  
    <div class="loader-wrapper" id="loader">
        <div class="loader"></div>
    </div>
    <div class="toastWrap">
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <script src="~/js/unobtrusiveHelper.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/commonhelper.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        $(document).ready(function () {
              var toastMsg = @Html.Raw(Json.Serialize(ViewData["ToastMsg"]));
              
                if (toastMsg != null && toastMsg != undefined) {
                    switch (toastMsg.type) {
                        case "Success":
                            commonHelper.showSuccess(toastMsg.message);
                            break;
                        case "Error":
                            commonHelper.showError(toastMsg.message);
                            break;
                        case "Info":
                            commonHelper.showInfo(toastMsg.message);
                            break;
                        case "Warning":
                            commonHelper.showWarning(toastMsg.message);
                            break;
                    }
                }
            $(window).on('load', function () {
                $('.loader-wrapper').fadeOut('slow');
            });
      });
          
    </script>
</body>
</html>
