@model F4ConversationCloud.ClientAdmin.Models.AuthViewModel.ClientLoginViewModel;
@{
    Layout = null;
    ViewData["Title"] = "Invali Url";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fortune4 Conversation Cloud</title>
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
</head>

<body>
    <div class="invalid-wrap">
        <img src="~/images/login/invalid.png" alt="Invalid" />


        @if (TempData["ErrorMessage"] != null)
        {
            <h5>Link Expired</h5>
            <p>@TempData["ErrorMessage"]</p>
        }
        else
        {
            <h5>Link Expired</h5>
            <p>This link is no longer active for security reasons.</p>
        }
    </div>
    <div class="loader-wrapper" id="loader">
        <div class="loader"></div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/commonhelper.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/unobtrusiveHelper.js"></script>

</body>
</html>
