@import "variables";
@import "mixin";

.accordion-guide {
    &.client-accordion {
        .user-list {
            padding-left: 0px !important;
        }
        .accordion-item{
            margin-bottom: 6px!important;
        }
    }

    .accordion {
        position: relative;
        .accordion-item {
            // border-color: $accordion !important;
            margin-bottom: 10px!important;
            border-radius: 8px;
            overflow: hidden;
            background-color: #fff;
            
            &:first-of-type {
                border-radius: 8px !important;

                .accordion-button {
                    border-radius: 0 !important;
                    padding: 14px 15px;
                    
                }
            }

            &:last-of-type {
                border-radius: 8px !important;

                .accordion-button {
                    border-radius: 0 !important;
                }
            }
           
            .accordion-button {
                background-color: transparent !important;
                box-shadow: none !important;
                font-size: 14px;
                color: $textColor;
                font-weight: 500;
                padding: 14px 15px;
                 
                &:focus {
                    box-shadow: none !important;
                    
                }
                
                &::after {
                    background-image: url("data:image/svg+xml,%3Csvg width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0.5L6 5.5L11 0.5' stroke='%23626262' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                    width: 16px;
                    height: 11px;
                    background-size: contain;
                }
            }
            .accordion-collapse{
                border-top: 1px solid #E2E2E2;
            }
            .accordion-body {
                padding: 15px;
                background-color: #fff;
               
                label {
                    font-size: 14px;
                    font-weight: 400;
                    color: #686868 !important;
                }
                video {
                    width: 100%;
                    height: auto;
                }

                img {
                    width: 100%;
                    height: auto;
                }

                h3 {
                    font-size: 16px;
                    font-weight: 500;
                    color: $textColor;
                    margin-top: 25px;

                    &:first-of-type {
                        margin-top: 0;
                    }
                }

                p {
                    font-size: 13px;
                    color: #707070;
                }

                ul,
                ol {
                    padding-left: 25px;

                    li {
                        font-size: 14px;
                        color: $textColor;
                        margin-bottom: 7px;
                    }
                }

                ul {
                    padding-left: 26px;
                }
            }
            
        }
        
    }
    &.template-accordion {
        position: relative;
        &::before {
            border: 1px dashed #ddd;
            height: 100%;
            content: "";
            position: absolute;
            left: 50%;
            z-index: 0;
            top: 0;
        }
        .accordion-item {
            margin-bottom: 19px !important;
            .accordion-header {
                // margin: 0px 10px;

                .accordion-button {
                    border-bottom: 1px solid #ddd;
                    padding: 14px 15px;
                    &.collapsed {
                        border-bottom: 0px;
                    }
                }
                
            }
            .accordion-body {
                background-color: transparent;
                padding: 10px 15px;
            }
        }
    }
}

.small-input {
    width: 80px;
    text-align: center;
    .form-control {
        text-align: center;
        padding: 0.475rem 0.25rem !important;
    }
}
.accordion-item:not(:first-of-type) {
    border-top: 1px solid #E2E2E2!important;
}