@import "variables";
button{
    &:disabled{
        opacity: 0.65;
        pointer-events: none;
       
    }
}
.btn{
    font-size: 13px !important;
    font-weight: 400 !important;
    border-radius: 6px !important;
    padding: 8px 20px!important;
    &.btn-facebook{
        background-color: #0866ff;
        color: #fff;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        width: 240px;
        margin: 0 auto;
        &:focus{
            box-shadow: none!important;
        }
        &:hover{
            
            color: $white;
        }
    }

}
.primary-btn {
    border: 1px solid $black !important;
    background-color: $black !important;
    color: $white !important;

    &:hover {
        color: $white !important;
        background-color: $black !important;
        border: 1px solid $black !important;
    }

    &:focus {
        box-shadow: none !important;
    }

    &.disabled {
        background-color: #D9D9D9 !important;
        border-color: #D9D9D9 !important;
    }
}

.secondary-btn {
    border: 1px solid $black !important;
    background-color: $white !important;
    color: $black !important;

    &:hover {
        color: $white !important;
        background-color: $black !important;
        
    }

    &:focus {
        box-shadow: none !important;
    }

    &.disabled {
        background-color: #D9D9D9 !important;
        border-color: #D9D9D9 !important;
    }
}
.danger-btn {
    border: 1px solid $red !important;
    background-color: $red !important;
    color: $white !important;

    &:hover {
        color: $red !important;
        background-color: $white !important;
    }

    &:focus {
        box-shadow: none !important;
    }

    &.disabled {
        background-color: #D9D9D9 !important;
        border-color: #D9D9D9 !important;
    }
}
.success-btn{
    background-color: $green!important;
    border: 1px solid $green!important;
    color: $white!important;
}
.btn-secondary{
    background-color: #9a9c9f!important;
    color: $white!important;
    border: 1px solid #9a9c9f!important;
    &:hover{
        background-color: transparent!important;
        border: 1px solid #9a9c9f!important;
        color: #9a9c9f!important;
    }
}
.add-btn{
    border: 1px solid $tabs;
    background-color: transparent;
    color: $tabs;
        font-size: 13px;
    padding: 6px 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    transition: all .3s ease-in-out;
    gap: 6px;
    &::before{
        content:"";
        background-image: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 4C12.5523 4 13 4.44772 13 5V11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H13V19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19V13H5C4.44772 13 4 12.5523 4 12C4 11.4477 4.44772 11 5 11H11V5C11 4.44772 11.4477 4 12 4Z' fill='%2303A9F5'/%3E%3C/svg%3E");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 13px;width: 13px;display: block;
    }
    &:hover{
        background-color: $tabs;
        color: $white;
        &::before{
            background-image: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 4C12.5523 4 13 4.44772 13 5V11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H13V19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19V13H5C4.44772 13 4 12.5523 4 12C4 11.4477 4.44772 11 5 11H11V5C11 4.44772 11.4477 4 12 4Z' fill='%23fff'/%3E%3C/svg%3E");
        }
    }
}

.bottom-btn{
    .btn{
        font-size: 14px!important;
        padding: 8px 40px !important;
    }
    
}
.download-btn{
    .primary-btn{
        gap: 10px;
        &::before{
            content:"";
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 13V21L8 17' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 21L16 17' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.39303 15.2691C3.57629 14.5546 2.93685 13.66 2.5252 12.656C2.11354 11.6519 1.94095 10.566 2.02105 9.48378C2.10115 8.4016 2.43175 7.35286 2.98674 6.42038C3.54173 5.4879 4.30591 4.69721 5.21894 4.11077C6.13197 3.52433 7.16883 3.15818 8.24766 3.04125C9.32648 2.92432 10.4177 3.0598 11.4352 3.437C12.4527 3.8142 13.3685 4.42279 14.1104 5.2147C14.8523 6.00662 15.3999 6.96017 15.71 8.00006H17.5C18.4721 7.99994 19.4181 8.31458 20.1964 8.89691C20.9747 9.47925 21.5436 10.298 21.8178 11.2305C22.092 12.1631 22.0569 13.1594 21.7177 14.0704C21.3785 14.9813 20.7534 15.758 19.936 16.2841' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            background-size: 98%;
            background-position: center;
            background-repeat: no-repeat;
            height: 20px;width:20px;display: inline-block;
        }
        &:hover{
            &::before{
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 13V21L8 17' stroke='%2303A9F5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 21L16 17' stroke='%2303A9F5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.39303 15.2691C3.57629 14.5546 2.93685 13.66 2.5252 12.656C2.11354 11.6519 1.94095 10.566 2.02105 9.48378C2.10115 8.4016 2.43175 7.35286 2.98674 6.42038C3.54173 5.4879 4.30591 4.69721 5.21894 4.11077C6.13197 3.52433 7.16883 3.15818 8.24766 3.04125C9.32648 2.92432 10.4177 3.0598 11.4352 3.437C12.4527 3.8142 13.3685 4.42279 14.1104 5.2147C14.8523 6.00662 15.3999 6.96017 15.71 8.00006H17.5C18.4721 7.99994 19.4181 8.31458 20.1964 8.89691C20.9747 9.47925 21.5436 10.298 21.8178 11.2305C22.092 12.1631 22.0569 13.1594 21.7177 14.0704C21.3785 14.9813 20.7534 15.758 19.936 16.2841' stroke='%2303A9F5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            }
        }
    }
}
.resend{
    align-items: center;
    &::before{
            content:"";
            background-image: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 1.10983V4.77746M0.5 4.77746H3.77273M0.5 4.77746L3.03091 2.11231C3.61714 1.45502 4.34239 0.974861 5.13899 0.71664C5.93559 0.458418 6.77758 0.430551 7.58639 0.635637C8.3952 0.840722 9.14447 1.27208 9.76429 1.88945C10.3841 2.50683 10.8543 3.2901 11.1309 4.16618M12.5 10.8902V7.22254M12.5 7.22254H9.22727M12.5 7.22254L9.96909 9.88769C9.38287 10.545 8.65761 11.0251 7.86101 11.2834C7.06441 11.5416 6.22242 11.5694 5.41361 11.3644C4.6048 11.1593 3.85553 10.7279 3.23571 10.1105C2.61589 9.49317 2.14573 8.7099 1.86909 7.83381' stroke='%23E3E3E3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            height: 16px;width:16px;display: inline-block;
            margin-right: 7px;
    }
}




