@import "variables";
@import "mixin";

.modal-wrapper {
    .modal-content {
        padding: 30px 25px;

        .modal-header {
            border-bottom: none;
            padding: 0;

            h5 {
                font-size: 14px;
                color: $textColor;
            }
        }

        .modal-body {
            padding: 20px 0;

            p {
                font-size: 12px;
                color: $textColor;
            }
        }

        .modal-footer {
            border-top: none;
            padding: 0;
        }
    }

    .primary-btn {
        border: 1px solid $tabs !important;
        background-color: $tabs !important;
        color: $white !important;
        font-size: 12px !important;
        font-weight: 400 !important;
        border-radius: 8px !important;
        max-width: fit-content !important;
        height: 35px;
        line-height: 20px !important;

        &:hover {
            color: $tabs !important;
            background-color: $white !important;
            border: 1px solid $tabs !important;
        }

        &:focus {
            box-shadow: none !important;
        }

        &.disabled {
            background-color: #D9D9D9 !important;
            border-color: #D9D9D9 !important;
        }
    }

    .secondary-btn {
        border: 1px solid $tabs !important;
        background-color: $white !important;
        color: $tabs !important;
        font-size: 12px !important;
        font-weight: 400 !important;
        border-radius: 8px !important;
        max-width: fit-content !important;
        height: 35px;
        line-height: 20px !important;

        &:hover {
            color: $white !important;
            background-color: $tabs !important;
        }

        &:focus {
            box-shadow: none !important;
        }

        &.disabled {
            background-color: #D9D9D9 !important;
            border-color: #D9D9D9 !important;
        }
    }

    .danger-btn {
        border: 1px solid $red !important;
        background-color: $red !important;
        color: $white !important;
        font-size: 12px !important;
        font-weight: 400 !important;
        border-radius: 8px !important;
        max-width: fit-content !important;
        height: 35px;
        line-height: 20px !important;

        &:hover {
            color: $red !important;
            background-color: $white !important;
        }

        &:focus {
            box-shadow: none !important;
        }

        &.disabled {
            background-color: #D9D9D9 !important;
            border-color: #D9D9D9 !important;
        }
    }
}
.template-modal{
    .confirm-model{
        max-width: 400px!important;
        .modal-content{padding: 25px;}
        .modal-body{padding: 0px;}
    }
    .modal-content{padding: 15px;}
    .modal-header{padding: 0px;flex-direction: column;align-items: flex-start;padding-bottom: 10px;}
    .modal-title{
        font-size: 15px;
        word-break: break-all;
    }
    .modal-body{
        font-size: 15px;
        padding: 15px 0px 0px;
        h6{
            font-size: 16px;
        }
        .refresh-icon{
            
            &::after{
                content:"";
                background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='42' height='42' rx='21' fill='%23E5F9FF'/%3E%3Cpath d='M13 14.7761V19.444M13 19.444H17.3636M13 19.444L16.3745 16.052C17.1562 15.2155 18.1232 14.6044 19.1853 14.2757C20.2475 13.9471 21.3701 13.9116 22.4485 14.1726C23.5269 14.4336 24.526 14.9826 25.3524 15.7684C26.1788 16.5541 26.8057 17.551 27.1745 18.6661M29 27.2239V22.556M29 22.556H24.6364M29 22.556L25.6255 25.948C24.8438 26.7845 23.8768 27.3956 22.8147 27.7243C21.7525 28.0529 20.6299 28.0884 19.5515 27.8274C18.4731 27.5664 17.474 27.0174 16.6476 26.2316C15.8212 25.4459 15.1943 24.449 14.8255 23.3339' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: 42px;
                width: 42px;
                display: inline-block;
            }
        }
        p{
            color: #888888;
            font-size: 14px;
        }
    }
    
}
.comment-modal{
    .modal-content{
        border-radius: 20px;
    }
    .modal-dialog{
        max-width: 450px;
    }
    .modal-body{
        padding: 40px;
        text-align: center;
        .action-icon{margin: 0 auto 14px;}
        h4{font-size: 18px;margin-bottom: 14px;}
        p{
            font-size: 14px;
            margin-bottom: 8px;
            color: #686767;
            font-weight: 400;

        }
    }
    .form-wrapper{
        text-align: left;
        .form-control{
            &:focus{
                box-shadow: none;
            }
        }
    }
    .btn-wrap{
        .btn{
            width: 35%;
        }
    }
}

.count-modal{
    .modal-title{
        font-size: 17px;
    }
    .btn-close{
        background-color: #fff;
        opacity: 1;
        padding: 3px;
        position: absolute;
        right: -31px;
        top: -10px;
        background-size: 53%;
        display: flex;
        justify-content: center;
        align-items: center; 
        height: 22px;width: 22px;
        border-radius: 100%;
        opacity: 0.8;
    }
}