@import "variables";
@import "mixin";

.modal-wrapper {
    .modal-content {
        padding: 30px 25px;

        .modal-header {
            border-bottom: none;
            padding: 0;

            h5 {
                font-size: 14px;
                color: $textColor;
            }
        }

        .modal-body {
            padding: 20px 0;

            p {
                font-size: 12px;
                color: $textColor;
            }
        }

        .modal-footer {
            border-top: none;
            padding: 0;
        }
    }

    .primary-btn {
        border: 1px solid $tabs !important;
        background-color: $tabs !important;
        color: $white !important;
        font-size: 12px !important;
        font-weight: 400 !important;
        border-radius: 8px !important;
        max-width: fit-content !important;
        height: 35px;
        line-height: 20px !important;

        &:hover {
            color: $tabs !important;
            background-color: $white !important;
            border: 1px solid $tabs !important;
        }

        &:focus {
            box-shadow: none !important;
        }

        &.disabled {
            background-color: #D9D9D9 !important;
            border-color: #D9D9D9 !important;
        }
    }

    .secondary-btn {
        border: 1px solid $tabs !important;
        background-color: $white !important;
        color: $tabs !important;
        font-size: 12px !important;
        font-weight: 400 !important;
        border-radius: 8px !important;
        max-width: fit-content !important;
        height: 35px;
        line-height: 20px !important;

        &:hover {
            color: $white !important;
            background-color: $tabs !important;
        }

        &:focus {
            box-shadow: none !important;
        }

        &.disabled {
            background-color: #D9D9D9 !important;
            border-color: #D9D9D9 !important;
        }
    }

    .danger-btn {
        border: 1px solid $red !important;
        background-color: $red !important;
        color: $white !important;
        font-size: 12px !important;
        font-weight: 400 !important;
        border-radius: 8px !important;
        max-width: fit-content !important;
        height: 35px;
        line-height: 20px !important;

        &:hover {
            color: $red !important;
            background-color: $white !important;
        }

        &:focus {
            box-shadow: none !important;
        }

        &.disabled {
            background-color: #D9D9D9 !important;
            border-color: #D9D9D9 !important;
        }
    }
}
.template-modal{
    .modal-content{padding: 15px;}
    .modal-header{padding: 0px;flex-direction: column;align-items: flex-start;padding-bottom: 10px;}
    .modal-title{
        font-size: 15px;
        
    }
    .modal-body{
        font-size: 15px;
        padding: 15px 0px;
        p{
            
        }
    }
}
.comment-modal{
    .modal-content{
        border-radius: 20px;
    }
    .modal-dialog{
        max-width: 450px;
    }
    .modal-body{
        padding: 40px;
        text-align: center;
        .action-icon{margin: 0 auto 14px;}
        h4{font-size: 18px;margin-bottom: 14px;}
        p{
            font-size: 14px;
            margin-bottom: 8px;
            color: #686767;
            font-weight: 400;

        }
    }
    .form-wrapper{
        text-align: left;
        .form-control{
            &:focus{
                box-shadow: none;
            }
        }
    }
    .btn-wrap{
        .btn{
            width: 35%;
        }
    }
}

.count-modal{
    .modal-title{
        font-size: 17px;
    }
    .btn-close{
        background-color: #fff;
        opacity: 1;
        padding: 3px;
        position: absolute;
        right: -31px;
        top: -10px;
        background-size: 53%;
        display: flex;
        justify-content: center;
        align-items: center; 
        height: 22px;width: 22px;
        border-radius: 100%;
        opacity: 0.8;
    }
}