@import "variables";
@import "mixin";

.pagination {
    justify-content: center;
    margin-top: 30px;
    @media (max-width:661px) {
       flex-wrap: wrap; 
    }
    li {
        margin-right: 7px;
        @media (max-width:661px) {
            margin-bottom: 13px;
        }
        &.active{  
            .page-link{
                background-color: transparent;
                border: 1px solid $tabs;
                color: $tabs;
            }
        }

        .page-link {
            padding: 10px;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 400;
            color: #000000;
            line-height: 6px;
            min-width: 38px;
            min-height: 38px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                background-color: $tabs;
                color: #FFFFFF;
            }
            &:disabled{
                background-color: #919EAB;
            }
            &:focus {
                box-shadow: none;
                background-color: transparent;
                border: 1px solid $tabs;
                color: $tabs;
            }
            @media (max-width:480px) {
                min-width: 33px;
                min-height: 33px;
            }
        }
    }
}