@import "variables";
@import "mixin";


.tab-spacing {
    .nav-tabs {
        gap: 25px;
        
    }
}

.nav-tabs {
    border-bottom: 0;
        @media (max-width:780px) {
            flex-wrap: nowrap;
        }
    .nav-item {
        // flex: 1 1;
        
        .nav-link {
            color: $black;
            font-size: 15px;
            line-height: 1;
            text-align: left;
            font-weight: 500;
            border: 0px;
            padding: 10px 30px;
            width: 100%;
            border-bottom: 1px solid #ddd;
            display: flex;
            align-items: center;
            gap: 10px;
            @media (max-width:780px) {
                padding: 10px 12px;
                font-size: 13px;
            }
            .step-count{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #ddd;
                color: #000;
                height: 25px;
                width: 25px;
                border-radius: 100%;
                font-size: 13px;
                font-weight: 600;
            }
            &:hover {
                border: 0px;
                border-bottom: 1px solid $tabs;
            }

            &.active {
                background-color: #03A9F51A;
                border: 0px;
                border-bottom: 1px solid $tabs;
                border-radius: 0px;
                color: $black;
                .step-count{
                    background-color: #03a9f5;
                    color: $white;
                }
            }

            &:focus {
                border: 0px;
                border-bottom: 1px solid $tabs;
            }
        }
    }
}

.tab-content {
    padding: 20px 0px;
}

.left-vertical-tab {
    .nav {
        width: 100%;

        &:first-child {
            .nav-link {
                padding-top: 0px;
            }
        }

        .nav-link {
            color: #000;
            text-align: left;
            padding: 10px 0px 14px;
            font-size: 15px;

            &.active {
                color: $tabs;
                background-color: transparent;
            }
        }
    }
}

.tab-dropdown {
    width: 100%;

    .dropdown {
        color: #000;
        text-decoration: none;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &::after {
            content: "";
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 70%;
            height: 20px;
            width: 20px;
            display: block;
            border: 0px;
        }
    }

    .dropdown-menu {
        li {
            .dropdown-item {
                font-size: 14px;
            }
        }
    }

}

.inner-tabs {
    .nav-link {
        font-weight: 400 !important;
        font-size: 12px !important;
    }
}

.settings-tabs {
    display: flex;
    gap: 20px;

    .left-col {
        width: 28%;

        .nav-link {
            cursor: pointer;
            border: 1px solid #00000033;
            margin-bottom: 10px;
            border-radius: 8px;

            &:first-of-type {
                font-size: 16px;
                color: $textColor;
                font-weight: 500;
                padding: 0;
                border: 0;
                position: relative;

                &.active {
                    background: none;
                }

                &:hover {
                    background: none;
                }

                &::after {
                    content: '';
                    display: inline-block;
                    background-image: url("data:image/svg+xml,%3Csvg width='7' height='11' viewBox='0 0 7 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.46281 6.0925L1.74865 10.8067L0.570313 9.62833L4.69531 5.50333L0.570313 1.37833L1.74865 0.199997L6.46281 4.91416C6.61904 5.07044 6.7068 5.28236 6.7068 5.50333C6.7068 5.7243 6.61904 5.93622 6.46281 6.0925Z' fill='%23283342'/%3E%3C/svg%3E%0A");
                    width: 7px;
                    height: 11px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                }
            }

            &:last-of-type {
                margin-bottom: 0;
            }

            &.active {
                background: #03A9F51A;
            }

            &:hover {
                background: #03A9F51A;
            }

            p {
                font-size: 14px;
                color: $textColor;
                margin-bottom: 7px;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }

    .right-col {
        width: 72%;

        .tab-content {
            padding: 0;
        }
    }
    &.teams-tab{
        .left-col{
            .nav-link{
                &:first-of-type{
                    padding: .5rem 1rem;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    margin-bottom: 10px;
                    border-radius: 8px;
                    &::after{
                        display: none;
                    }
                }
                &.active{
                    background-color: rgba(3, 169, 245, 0.1019607843);
                }
            }
        }
        .form-check-label {
            color: $black;
            span{
                color: $black;
                margin-bottom: 6px;
                display: block;
            }
        }
        .radio-btn{
            p{
                font-size: 13px;
                margin-bottom: 0px;
            }
        }
    }
}

