@import "variables";
@import "mixin";

.table>:not(:last-child)>:last-child>*{
    border-bottom-color:#eee!important;
}
.table {
    margin-bottom: 0 !important;
    background-color: #fff;
    tr {
        // border-bottom: 0;
        // border-bottom: 1px solid #eee;
        th {
            border-bottom: 1px solid #eee;
            box-shadow: none;
            font-size: 14px;
            font-weight: 500;
            background: #03A9F51A;
            padding: 8px 10px;
            vertical-align: top;
            position: relative;
           white-space: nowrap;
            // white-space: nowrap;
            .filter-icon {
                background-image: url("data:image/svg+xml,%3Csvg width='10' height='16' viewBox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.75741 5.93646C9.83551 5.85899 9.89751 5.76683 9.93982 5.66528C9.98212 5.56373 10.0039 5.45481 10.0039 5.3448C10.0039 5.23479 9.98212 5.12587 9.93982 5.02432C9.89751 4.92277 9.83551 4.8306 9.75741 4.75313L5.59074 0.586464C5.51327 0.508357 5.4211 0.446362 5.31956 0.404055C5.21801 0.361747 5.10908 0.339966 4.99907 0.339966C4.88906 0.339966 4.78014 0.361747 4.67859 0.404055C4.57704 0.446362 4.48488 0.508357 4.40741 0.586464L0.240742 4.75313C0.162635 4.8306 0.100638 4.92277 0.0583313 5.02432C0.0160234 5.12587 -0.00575755 5.23479 -0.00575755 5.3448C-0.00575756 5.45481 0.0160234 5.56373 0.0583313 5.66528C0.100638 5.76683 0.162635 5.85899 0.240741 5.93646C0.318211 6.01457 0.410377 6.07657 0.511927 6.11887C0.613476 6.16118 0.722398 6.18296 0.832408 6.18296C0.942418 6.18296 1.05134 6.16118 1.15289 6.11887C1.25444 6.07657 1.3466 6.01457 1.42407 5.93646L4.99907 2.35313L8.57407 5.93646C8.65154 6.01457 8.74371 6.07657 8.84526 6.11887C8.94681 6.16118 9.05573 6.18296 9.16574 6.18296C9.27575 6.18296 9.38467 6.16118 9.48622 6.11887C9.58777 6.07657 9.67994 6.01457 9.75741 5.93646ZM5.59074 15.1031L9.75741 10.9365C9.83511 10.8588 9.89674 10.7665 9.93879 10.665C9.98084 10.5635 10.0025 10.4547 10.0025 10.3448C10.0025 10.1229 9.91433 9.91005 9.75741 9.75313C9.67971 9.67543 9.58747 9.6138 9.48595 9.57175C9.38443 9.5297 9.27562 9.50805 9.16574 9.50805C8.94382 9.50805 8.73099 9.59621 8.57407 9.75313L4.99907 13.3365L1.42407 9.75313C1.3466 9.67502 1.25444 9.61303 1.15289 9.57072C1.05134 9.52841 0.942418 9.50663 0.832408 9.50663C0.722397 9.50663 0.613476 9.52841 0.511927 9.57072C0.410377 9.61303 0.318211 9.67502 0.240741 9.75313C0.162634 9.8306 0.100638 9.92277 0.0583311 10.0243C0.0160232 10.1259 -0.00575776 10.2348 -0.00575777 10.3448C-0.00575777 10.4548 0.0160232 10.5637 0.058331 10.6653C0.100638 10.7668 0.162634 10.859 0.240741 10.9365L4.40741 15.1031C4.48488 15.1812 4.57704 15.2432 4.67859 15.2855C4.78014 15.3278 4.88906 15.3496 4.99907 15.3496C5.10908 15.3496 5.21801 15.3278 5.31955 15.2855C5.4211 15.2432 5.51327 15.1812 5.59074 15.1031Z' fill='%2303A9F5'/%3E%3C/svg%3E%0A");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                width: 10px;
                height: 16px;
                display: inline-block;
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translateY(-50%);
            }
        }

        td {
            border-bottom: 0;
            box-shadow: none;
            font-size: 14px;
            color: #5E5E5E;
            padding: 10px 9px;
            vertical-align: middle;
            border-color: #eee;
            border-style: solid;
            border-width: 0px;
            border-bottom: 1px solid #DBDBDB;
            &.textColor {
                color: #03A9F5;
            }

            .image {
                display: flex;
                align-items: center;
                flex-direction: column;
            }

            p {
                font-weight: 400;
                font-size: 12px !important;
                color: $black;
                margin: 10px 0 0 0;
            }
        }
    }
}

.action {
    display: flex;
    align-items: center;
    gap: 6px;

    .copy {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6666 13.9583H4.99992C4.39213 13.9583 3.80924 13.7169 3.37947 13.2871C2.94969 12.8574 2.70825 12.2745 2.70825 11.6667V5.00001C2.70825 4.39222 2.94969 3.80933 3.37947 3.37956C3.80924 2.94979 4.39213 2.70834 4.99992 2.70834H11.6666C12.2744 2.70834 12.8573 2.94979 13.287 3.37956C13.7168 3.80933 13.9583 4.39222 13.9583 5.00001V11.6667C13.9583 12.2745 13.7168 12.8574 13.287 13.2871C12.8573 13.7169 12.2744 13.9583 11.6666 13.9583ZM4.99992 3.95834C4.72365 3.95834 4.4587 4.06809 4.26335 4.26344C4.068 4.45879 3.95825 4.72374 3.95825 5.00001V11.6667C3.95825 11.9429 4.068 12.2079 4.26335 12.4032C4.4587 12.5986 4.72365 12.7083 4.99992 12.7083H11.6666C11.9429 12.7083 12.2078 12.5986 12.4032 12.4032C12.5985 12.2079 12.7083 11.9429 12.7083 11.6667V5.00001C12.7083 4.72374 12.5985 4.45879 12.4032 4.26344C12.2078 4.06809 11.9429 3.95834 11.6666 3.95834H4.99992Z' fill='%23283342'/%3E%3Cpath d='M15.0001 17.2917H8.33341C7.72563 17.2917 7.14273 17.0502 6.71296 16.6204C6.28319 16.1907 6.04175 15.6078 6.04175 15V13.3333H7.29175V15C7.29175 15.2763 7.40149 15.5412 7.59685 15.7366C7.7922 15.9319 8.05715 16.0417 8.33341 16.0417H15.0001C15.2763 16.0417 15.5413 15.9319 15.7367 15.7366C15.932 15.5412 16.0417 15.2763 16.0417 15V8.33332C16.0417 8.05706 15.932 7.7921 15.7367 7.59675C15.5413 7.4014 15.2763 7.29166 15.0001 7.29166H13.3334V6.04166H15.0001C15.6079 6.04166 16.1908 6.2831 16.6205 6.71287C17.0503 7.14264 17.2917 7.72554 17.2917 8.33332V15C17.2917 15.6078 17.0503 16.1907 16.6205 16.6204C16.1908 17.0502 15.6079 17.2917 15.0001 17.2917Z' fill='%23283342'/%3E%3C/svg%3E%0A");
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
    }

    .delete {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.83325 17.5C5.37492 17.5 4.9827 17.3369 4.65659 17.0108C4.33048 16.6847 4.16714 16.2922 4.16659 15.8333V5C3.93048 5 3.7327 4.92 3.57325 4.76C3.41381 4.6 3.33381 4.40222 3.33325 4.16667C3.3327 3.93111 3.4127 3.73333 3.57325 3.57333C3.73381 3.41333 3.93159 3.33333 4.16659 3.33333H7.49992C7.49992 3.09722 7.57992 2.89944 7.73992 2.74C7.89992 2.58056 8.0977 2.50056 8.33326 2.5H11.6666C11.9027 2.5 12.1008 2.58 12.2608 2.74C12.4208 2.9 12.5005 3.09778 12.4999 3.33333H15.8333C16.0694 3.33333 16.2674 3.41333 16.4274 3.57333C16.5874 3.73333 16.6671 3.93111 16.6666 4.16667C16.666 4.40222 16.586 4.60028 16.4266 4.76083C16.2671 4.92139 16.0694 5.00111 15.8333 5V15.8333C15.8333 16.2917 15.6702 16.6842 15.3441 17.0108C15.018 17.3375 14.6255 17.5006 14.1666 17.5H5.83325ZM14.1666 5H5.83325V15.8333H14.1666V5ZM8.33326 14.1667C8.56937 14.1667 8.76742 14.0867 8.92742 13.9267C9.08742 13.7667 9.16714 13.5689 9.16659 13.3333V7.5C9.16659 7.26389 9.08659 7.06611 8.92659 6.90667C8.76659 6.74722 8.56881 6.66722 8.33326 6.66667C8.0977 6.66611 7.89992 6.74611 7.73992 6.90667C7.57992 7.06722 7.49992 7.265 7.49992 7.5V13.3333C7.49992 13.5694 7.57992 13.7675 7.73992 13.9275C7.89992 14.0875 8.0977 14.1672 8.33326 14.1667ZM11.6666 14.1667C11.9027 14.1667 12.1008 14.0867 12.2608 13.9267C12.4208 13.7667 12.5005 13.5689 12.4999 13.3333V7.5C12.4999 7.26389 12.4199 7.06611 12.2599 6.90667C12.0999 6.74722 11.9021 6.66722 11.6666 6.66667C11.431 6.66611 11.2333 6.74611 11.0733 6.90667C10.9133 7.06722 10.8333 7.265 10.8333 7.5V13.3333C10.8333 13.5694 10.9133 13.7675 11.0733 13.9275C11.2333 14.0875 11.431 14.1672 11.6666 14.1667Z' fill='%23283342'/%3E%3C/svg%3E%0A");
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
    }
    .delete-blue {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.83325 17.5C5.37492 17.5 4.9827 17.3369 4.65659 17.0108C4.33048 16.6847 4.16714 16.2922 4.16659 15.8333V5C3.93048 5 3.7327 4.92 3.57325 4.76C3.41381 4.6 3.33381 4.40222 3.33325 4.16667C3.3327 3.93111 3.4127 3.73333 3.57325 3.57333C3.73381 3.41333 3.93159 3.33333 4.16659 3.33333H7.49992C7.49992 3.09722 7.57992 2.89944 7.73992 2.74C7.89992 2.58056 8.0977 2.50056 8.33326 2.5H11.6666C11.9027 2.5 12.1008 2.58 12.2608 2.74C12.4208 2.9 12.5005 3.09778 12.4999 3.33333H15.8333C16.0694 3.33333 16.2674 3.41333 16.4274 3.57333C16.5874 3.73333 16.6671 3.93111 16.6666 4.16667C16.666 4.40222 16.586 4.60028 16.4266 4.76083C16.2671 4.92139 16.0694 5.00111 15.8333 5V15.8333C15.8333 16.2917 15.6702 16.6842 15.3441 17.0108C15.018 17.3375 14.6255 17.5006 14.1666 17.5H5.83325ZM14.1666 5H5.83325V15.8333H14.1666V5ZM8.33326 14.1667C8.56937 14.1667 8.76742 14.0867 8.92742 13.9267C9.08742 13.7667 9.16714 13.5689 9.16659 13.3333V7.5C9.16659 7.26389 9.08659 7.06611 8.92659 6.90667C8.76659 6.74722 8.56881 6.66722 8.33326 6.66667C8.0977 6.66611 7.89992 6.74611 7.73992 6.90667C7.57992 7.06722 7.49992 7.265 7.49992 7.5V13.3333C7.49992 13.5694 7.57992 13.7675 7.73992 13.9275C7.89992 14.0875 8.0977 14.1672 8.33326 14.1667ZM11.6666 14.1667C11.9027 14.1667 12.1008 14.0867 12.2608 13.9267C12.4208 13.7667 12.5005 13.5689 12.4999 13.3333V7.5C12.4999 7.26389 12.4199 7.06611 12.2599 6.90667C12.0999 6.74722 11.9021 6.66722 11.6666 6.66667C11.431 6.66611 11.2333 6.74611 11.0733 6.90667C10.9133 7.06722 10.8333 7.265 10.8333 7.5V13.3333C10.8333 13.5694 10.9133 13.7675 11.0733 13.9275C11.2333 14.0875 11.431 14.1672 11.6666 14.1667Z' fill='%23FF5959'/%3E%3C/svg%3E%0A");
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
    }
    .eye-blue {
        background-image: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0001 5.25C9.22586 5.25 6.79699 6.91121 5.12801 8.44832C4.28012 9.22922 3.59626 10.0078 3.12442 10.5906C2.88804 10.8825 2.70368 11.1268 2.57736 11.2997C2.51417 11.3862 2.46542 11.4549 2.43187 11.5029C2.41509 11.5269 2.4021 11.5457 2.393 11.559L2.38227 11.5747L2.37911 11.5794L2.10547 12.0132L2.37809 12.4191L2.37911 12.4206L2.38227 12.4253L2.393 12.441C2.4021 12.4543 2.41509 12.4731 2.43187 12.4971C2.46542 12.5451 2.51417 12.6138 2.57736 12.7003C2.70368 12.8732 2.88804 13.1175 3.12442 13.4094C3.59626 13.9922 4.28012 14.7708 5.12801 15.5517C6.79699 17.0888 9.22586 18.75 12.0001 18.75C14.7743 18.75 17.2031 17.0888 18.8721 15.5517C19.72 14.7708 20.4039 13.9922 20.8757 13.4094C21.1121 13.1175 21.2964 12.8732 21.4228 12.7003C21.4859 12.6138 21.5347 12.5451 21.5682 12.4971C21.585 12.4731 21.598 12.4543 21.6071 12.441L21.6178 12.4253L21.621 12.4206L21.6224 12.4186L21.9035 12L21.622 11.5809L21.621 11.5794L21.6178 11.5747L21.6071 11.559C21.598 11.5457 21.585 11.5269 21.5682 11.5029C21.5347 11.4549 21.4859 11.3862 21.4228 11.2997C21.2964 11.1268 21.1121 10.8825 20.8757 10.5906C20.4039 10.0078 19.72 9.22922 18.8721 8.44832C17.2031 6.91121 14.7743 5.25 12.0001 5.25ZM4.29022 12.4656C4.14684 12.2885 4.02478 12.1311 3.92575 12C4.02478 11.8689 4.14684 11.7115 4.29022 11.5344C4.72924 10.9922 5.36339 10.2708 6.14419 9.55168C7.73256 8.08879 9.80369 6.75 12.0001 6.75C14.1964 6.75 16.2676 8.08879 17.8559 9.55168C18.6367 10.2708 19.2709 10.9922 19.7099 11.5344C19.8533 11.7115 19.9753 11.8689 20.0744 12C19.9753 12.1311 19.8533 12.2885 19.7099 12.4656C19.2709 13.0078 18.6367 13.7292 17.8559 14.4483C16.2676 15.9112 14.1964 17.25 12.0001 17.25C9.80369 17.25 7.73256 15.9112 6.14419 14.4483C5.36339 13.7292 4.72924 13.0078 4.29022 12.4656ZM14.25 12C14.25 13.2426 13.2427 14.25 12 14.25C10.7574 14.25 9.75005 13.2426 9.75005 12C9.75005 10.7574 10.7574 9.75 12 9.75C13.2427 9.75 14.25 10.7574 14.25 12ZM15.75 12C15.75 14.0711 14.0711 15.75 12 15.75C9.92898 15.75 8.25005 14.0711 8.25005 12C8.25005 9.92893 9.92898 8.25 12 8.25C14.0711 8.25 15.75 9.92893 15.75 12Z' fill='%23000'/%3E%3C/svg%3E");
        width: 21px;
        height: 21px;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
    }
    .reset {
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99992 13.6667C5.13881 13.6667 3.56242 13.0208 2.27075 11.7292C0.979085 10.4375 0.333252 8.86111 0.333252 6.99999C0.333252 5.13888 0.979085 3.56249 2.27075 2.27083C3.56242 0.979161 5.13881 0.333328 6.99992 0.333328C7.95825 0.333328 8.87492 0.531106 9.74992 0.926661C10.6249 1.32222 11.3749 1.88833 11.9999 2.62499V0.333328H13.6666V6.16666H7.83325V4.49999H11.3333C10.8888 3.72222 10.2813 3.11111 9.51075 2.66666C8.7402 2.22222 7.90325 1.99999 6.99992 1.99999C5.61103 1.99999 4.43047 2.48611 3.45825 3.45833C2.48603 4.43055 1.99992 5.61111 1.99992 6.99999C1.99992 8.38888 2.48603 9.56944 3.45825 10.5417C4.43047 11.5139 5.61103 12 6.99992 12C8.06936 12 9.03464 11.6944 9.89575 11.0833C10.7569 10.4722 11.361 9.66666 11.7083 8.66666H13.4583C13.0694 10.1389 12.2777 11.3403 11.0833 12.2708C9.88881 13.2014 8.5277 13.6667 6.99992 13.6667Z' fill='%23333'/%3E%3C/svg%3E%0A");
        width: 20px;
        height: 15px;
        background-repeat: no-repeat;
        background-size: 74%;
        display: block;
    }
    .pdf{
        background-image: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 512 512' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Epdf-document%3C/title%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='add' fill='%23000000' transform='translate(85.333333, 42.666667)'%3E%3Cpath d='M75.9466667,285.653333 C63.8764997,278.292415 49.6246897,275.351565 35.6266667,277.333333 L1.42108547e-14,277.333333 L1.42108547e-14,405.333333 L28.3733333,405.333333 L28.3733333,356.48 L40.5333333,356.48 C53.1304778,357.774244 65.7885986,354.68506 76.3733333,347.733333 C85.3576891,340.027178 90.3112817,328.626053 89.8133333,316.8 C90.4784904,304.790173 85.3164923,293.195531 75.9466667,285.653333 L75.9466667,285.653333 Z M53.12,332.373333 C47.7608867,334.732281 41.8687051,335.616108 36.0533333,334.933333 L27.7333333,334.933333 L27.7333333,298.666667 L36.0533333,298.666667 C42.094796,298.02451 48.1897668,299.213772 53.5466667,302.08 C58.5355805,305.554646 61.3626692,311.370371 61.0133333,317.44 C61.6596233,323.558965 58.5400493,329.460862 53.12,332.373333 L53.12,332.373333 Z M150.826667,277.333333 L115.413333,277.333333 L115.413333,405.333333 L149.333333,405.333333 C166.620091,407.02483 184.027709,403.691457 199.466667,395.733333 C216.454713,383.072462 225.530463,362.408923 223.36,341.333333 C224.631644,323.277677 218.198313,305.527884 205.653333,292.48 C190.157107,280.265923 170.395302,274.806436 150.826667,277.333333 L150.826667,277.333333 Z M178.986667,376.32 C170.098963,381.315719 159.922142,383.54422 149.76,382.72 L144.213333,382.72 L144.213333,299.946667 L149.333333,299.946667 C167.253333,299.946667 174.293333,301.653333 181.333333,308.053333 C189.877212,316.948755 194.28973,329.025119 193.493333,341.333333 C194.590843,354.653818 189.18793,367.684372 178.986667,376.32 L178.986667,376.32 Z M254.506667,405.333333 L283.306667,405.333333 L283.306667,351.786667 L341.333333,351.786667 L341.333333,329.173333 L283.306667,329.173333 L283.306667,299.946667 L341.333333,299.946667 L341.333333,277.333333 L254.506667,277.333333 L254.506667,405.333333 L254.506667,405.333333 Z M234.666667,7.10542736e-15 L9.52127266e-13,7.10542736e-15 L9.52127266e-13,234.666667 L42.6666667,234.666667 L42.6666667,192 L42.6666667,169.6 L42.6666667,42.6666667 L216.96,42.6666667 L298.666667,124.373333 L298.666667,169.6 L298.666667,192 L298.666667,234.666667 L341.333333,234.666667 L341.333333,106.666667 L234.666667,7.10542736e-15 L234.666667,7.10542736e-15 Z' id='document-pdf'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-size: 100%;
        display: block;
    }
    .download{
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.625 15C5.625 14.5858 5.28921 14.25 4.875 14.25C4.46079 14.25 4.125 14.5858 4.125 15H5.625ZM4.875 16H4.125H4.875ZM19.275 15C19.275 14.5858 18.9392 14.25 18.525 14.25C18.1108 14.25 17.775 14.5858 17.775 15H19.275ZM11.1086 15.5387C10.8539 15.8653 10.9121 16.3366 11.2387 16.5914C11.5653 16.8461 12.0366 16.7879 12.2914 16.4613L11.1086 15.5387ZM16.1914 11.4613C16.4461 11.1347 16.3879 10.6634 16.0613 10.4086C15.7347 10.1539 15.2634 10.2121 15.0086 10.5387L16.1914 11.4613ZM11.1086 16.4613C11.3634 16.7879 11.8347 16.8461 12.1613 16.5914C12.4879 16.3366 12.5461 15.8653 12.2914 15.5387L11.1086 16.4613ZM8.39138 10.5387C8.13662 10.2121 7.66533 10.1539 7.33873 10.4086C7.01212 10.6634 6.95387 11.1347 7.20862 11.4613L8.39138 10.5387ZM10.95 16C10.95 16.4142 11.2858 16.75 11.7 16.75C12.1142 16.75 12.45 16.4142 12.45 16H10.95ZM12.45 5C12.45 4.58579 12.1142 4.25 11.7 4.25C11.2858 4.25 10.95 4.58579 10.95 5H12.45ZM4.125 15V16H5.625V15H4.125ZM4.125 16C4.125 18.0531 5.75257 19.75 7.8 19.75V18.25C6.61657 18.25 5.625 17.2607 5.625 16H4.125ZM7.8 19.75H15.6V18.25H7.8V19.75ZM15.6 19.75C17.6474 19.75 19.275 18.0531 19.275 16H17.775C17.775 17.2607 16.7834 18.25 15.6 18.25V19.75ZM19.275 16V15H17.775V16H19.275ZM12.2914 16.4613L16.1914 11.4613L15.0086 10.5387L11.1086 15.5387L12.2914 16.4613ZM12.2914 15.5387L8.39138 10.5387L7.20862 11.4613L11.1086 16.4613L12.2914 15.5387ZM12.45 16V5H10.95V16H12.45Z' fill='%2303A9F5'/%3E%3C/svg%3E");
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-size: 100%;
        display: block;
    }
    .restore{
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.52185 7H7C7.55229 7 8 7.44772 8 8C8 8.55229 7.55228 9 7 9H3C1.89543 9 1 8.10457 1 7V3C1 2.44772 1.44772 2 2 2C2.55228 2 3 2.44772 3 3V5.6754C4.26953 3.8688 6.06062 2.47676 8.14852 1.69631C10.6633 0.756291 13.435 0.768419 15.9415 1.73041C18.448 2.69239 20.5161 4.53782 21.7562 6.91897C22.9963 9.30013 23.3228 12.0526 22.6741 14.6578C22.0254 17.263 20.4464 19.541 18.2345 21.0626C16.0226 22.5842 13.3306 23.2444 10.6657 22.9188C8.00083 22.5931 5.54702 21.3041 3.76664 19.2946C2.20818 17.5356 1.25993 15.3309 1.04625 13.0078C0.995657 12.4579 1.45216 12.0088 2.00445 12.0084C2.55673 12.0079 3.00351 12.4566 3.06526 13.0055C3.27138 14.8374 4.03712 16.5706 5.27027 17.9625C6.7255 19.605 8.73118 20.6586 10.9094 20.9247C13.0876 21.1909 15.288 20.6513 17.0959 19.4075C18.9039 18.1638 20.1945 16.3018 20.7247 14.1724C21.2549 12.043 20.9881 9.79319 19.9745 7.8469C18.9608 5.90061 17.2704 4.3922 15.2217 3.6059C13.173 2.8196 10.9074 2.80968 8.8519 3.57803C7.11008 4.22911 5.62099 5.40094 4.57993 6.92229C4.56156 6.94914 4.54217 6.97505 4.52185 7Z' fill='%2303A9F5'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: cover;
        width: 18px;
        height: 18px;
        display: inline-block;
    }
    .view{
        background-image: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0001 5.25C9.22586 5.25 6.79699 6.91121 5.12801 8.44832C4.28012 9.22922 3.59626 10.0078 3.12442 10.5906C2.88804 10.8825 2.70368 11.1268 2.57736 11.2997C2.51417 11.3862 2.46542 11.4549 2.43187 11.5029C2.41509 11.5269 2.4021 11.5457 2.393 11.559L2.38227 11.5747L2.37911 11.5794L2.10547 12.0132L2.37809 12.4191L2.37911 12.4206L2.38227 12.4253L2.393 12.441C2.4021 12.4543 2.41509 12.4731 2.43187 12.4971C2.46542 12.5451 2.51417 12.6138 2.57736 12.7003C2.70368 12.8732 2.88804 13.1175 3.12442 13.4094C3.59626 13.9922 4.28012 14.7708 5.12801 15.5517C6.79699 17.0888 9.22586 18.75 12.0001 18.75C14.7743 18.75 17.2031 17.0888 18.8721 15.5517C19.72 14.7708 20.4039 13.9922 20.8757 13.4094C21.1121 13.1175 21.2964 12.8732 21.4228 12.7003C21.4859 12.6138 21.5347 12.5451 21.5682 12.4971C21.585 12.4731 21.598 12.4543 21.6071 12.441L21.6178 12.4253L21.621 12.4206L21.6224 12.4186L21.9035 12L21.622 11.5809L21.621 11.5794L21.6178 11.5747L21.6071 11.559C21.598 11.5457 21.585 11.5269 21.5682 11.5029C21.5347 11.4549 21.4859 11.3862 21.4228 11.2997C21.2964 11.1268 21.1121 10.8825 20.8757 10.5906C20.4039 10.0078 19.72 9.22922 18.8721 8.44832C17.2031 6.91121 14.7743 5.25 12.0001 5.25ZM4.29022 12.4656C4.14684 12.2885 4.02478 12.1311 3.92575 12C4.02478 11.8689 4.14684 11.7115 4.29022 11.5344C4.72924 10.9922 5.36339 10.2708 6.14419 9.55168C7.73256 8.08879 9.80369 6.75 12.0001 6.75C14.1964 6.75 16.2676 8.08879 17.8559 9.55168C18.6367 10.2708 19.2709 10.9922 19.7099 11.5344C19.8533 11.7115 19.9753 11.8689 20.0744 12C19.9753 12.1311 19.8533 12.2885 19.7099 12.4656C19.2709 13.0078 18.6367 13.7292 17.8559 14.4483C16.2676 15.9112 14.1964 17.25 12.0001 17.25C9.80369 17.25 7.73256 15.9112 6.14419 14.4483C5.36339 13.7292 4.72924 13.0078 4.29022 12.4656ZM14.25 12C14.25 13.2426 13.2427 14.25 12 14.25C10.7574 14.25 9.75005 13.2426 9.75005 12C9.75005 10.7574 10.7574 9.75 12 9.75C13.2427 9.75 14.25 10.7574 14.25 12ZM15.75 12C15.75 14.0711 14.0711 15.75 12 15.75C9.92898 15.75 8.25005 14.0711 8.25005 12C8.25005 9.92893 9.92898 8.25 12 8.25C14.0711 8.25 15.75 9.92893 15.75 12Z' fill='%2303A9F5'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: cover;
        width: 21px;
        height: 18px;
        display: inline-block;
    }
    .btn{
        // padding: 5px 10px!important;
        // font-size: 12px!important;
        &:focus{
            box-shadow: none;
        }
    }
}
.action-icon{
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-size: 100%;
        display: block;
    }
    .approved{
        background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M35 0C54.33 0 70 15.67 70 35C70 54.33 54.33 70 35 70C15.67 70 0 54.33 0 35C0 15.67 15.67 0 35 0ZM35 7C19.536 7 7 19.536 7 35C7 50.464 19.536 63 35 63C50.464 63 63 50.464 63 35C63 19.536 50.464 7 35 7ZM46.5251 22.0251L28 40.5503L23.4749 36.0251C22.108 34.6583 19.892 34.6583 18.5251 36.0251C17.1583 37.392 17.1583 39.608 18.5251 40.9749L25.5251 47.9749C26.892 49.3417 29.108 49.3417 30.4749 47.9749L51.4749 26.9749C52.8417 25.608 52.8417 23.392 51.4749 22.0251C50.108 20.6583 47.892 20.6583 46.5251 22.0251Z' fill='%2322C55E'/%3E%3C/svg%3E");
    }
    .reject{
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:sketch='http://www.bohemiancoding.com/sketch/ns'%3E%3Ctitle%3Ecross-circle%3C/title%3E%3Cdesc%3ECreated with Sketch Beta.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' sketch:type='MSPage'%3E%3Cg id='Icon-Set' sketch:type='MSLayerGroup' transform='translate(-568.000000, -1087.000000)' fill='%23b71d18'%3E%3Cpath d='M584,1117 C576.268,1117 570,1110.73 570,1103 C570,1095.27 576.268,1089 584,1089 C591.732,1089 598,1095.27 598,1103 C598,1110.73 591.732,1117 584,1117 L584,1117 Z M584,1087 C575.163,1087 568,1094.16 568,1103 C568,1111.84 575.163,1119 584,1119 C592.837,1119 600,1111.84 600,1103 C600,1094.16 592.837,1087 584,1087 L584,1087 Z M589.717,1097.28 C589.323,1096.89 588.686,1096.89 588.292,1097.28 L583.994,1101.58 L579.758,1097.34 C579.367,1096.95 578.733,1096.95 578.344,1097.34 C577.953,1097.73 577.953,1098.37 578.344,1098.76 L582.58,1102.99 L578.314,1107.26 C577.921,1107.65 577.921,1108.29 578.314,1108.69 C578.708,1109.08 579.346,1109.08 579.74,1108.69 L584.006,1104.42 L588.242,1108.66 C588.633,1109.05 589.267,1109.05 589.657,1108.66 C590.048,1108.27 590.048,1107.63 589.657,1107.24 L585.42,1103.01 L589.717,1098.71 C590.11,1098.31 590.11,1097.68 589.717,1097.28 L589.717,1097.28 Z' id='cross-circle' sketch:type='MSShapeGroup'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }

.info {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.363636' y='0.363636' width='15.2727' height='15.2727' rx='7.63636' stroke='%231D242E' stroke-width='0.727273'/%3E%3Cpath d='M7.98545 4.90327L7.87345 9.99418H7.09964L6.98764 4.90327H7.98545ZM7.52727 12.0611C7.35079 12.0611 7.20145 12 7.07927 11.8778C6.95709 11.7556 6.896 11.6063 6.896 11.4298C6.896 11.2533 6.95709 11.104 7.07927 10.9818C7.20145 10.8596 7.35079 10.7985 7.52727 10.7985C7.69697 10.7985 7.83952 10.8596 7.95491 10.9818C8.07709 11.104 8.13818 11.2533 8.13818 11.4298C8.13818 11.6063 8.07709 11.7556 7.95491 11.8778C7.83952 12 7.69697 12.0611 7.52727 12.0611Z' fill='%231D242E'/%3E%3C/svg%3E%0A");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    cursor: pointer;
    position: relative;

    &:hover {
        p {
            opacity: 1;
        }
    }

    p {
        opacity: 0;
        position: absolute;
        left: 50%;
        top: -33px;
        background-color: #000;
        font-size: 11px;
        color: #FFFFFF;
        width: 150px;
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        transform: translateX(-50%);

        &::before {
            content: "";
            position: absolute;
            bottom: -6px;
            left: 50%;
            transform: translateX(-50%);
            border-width: .4rem .4rem 0;
            border-top-color: #000;
            border-style: solid;
        }
    }
}

.plan-description{
    .plan-category{
        font-size: 13px;
        font-weight: 500;
        color: #10a4e9;
    }
    .plan-validity{
        font-size: 13px;
        color: #6a6767;
    }
}
.badge{
    padding: 5px 11px !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    &.warning{
        background-color: #FBF8EE !important;
        // border: 1px solid #ffc107;
        color: #A4965D;
    }
    &.success{
        background-color: #E1FCEF;
        // border: 1px solid #22c55e;
        color: #14804A;
    }
    &.bgdark{
        background-color: #f3f4f6;
        // border:1px solid #86898f;
        color: #86898f;
    }
    &.danger{
        // border: 1px solid #b71d18;
        color: #D1293D;
        background-color: #FFEDEF;
    }
    &.badgeinfo{
        background-color: #cafdf5;
        color: #006c9c;
        // border: 1px solid #006c9c;
    }
   
}
.online{
    color: $green;
    &::before{
        content:"";
        background-color: $green;
        height: 9px;
        width: 9px;
        border-radius: 100px;
    }
}
.offline{
   color: #ff0000;
   &::before{
        content:"";
        background-color: #ff0000;
        height: 9px;
        width: 9px;
        border-radius: 100px;
    }
}

.message-block{
    max-width: 120px;
    display: block;
    white-space: wrap;
}
.display-name{
    max-width: 220px;
    display: block;
    white-space: wrap;
}
.user-table{
    .input-group{
            display: block;
    }
    .form-control,
    .form-select{
        font-size: 13px;
        margin-top: 3px;
        padding: 0.275rem!important;
        max-width: 100%;
        width: 100%!important;
        min-width: 130px!important;
        color: #686565;
       
        &:focus{
            box-shadow: none;
        }
        &::placeholder{
            color: #ACACAC;
        }
        &::selection {
            color: #000;
        }
        
    }
   
    input.srcIcon{
        padding: 0.275rem 10px 0.275rem 30px !important;
    }
    .datewrap{
        margin-bottom: 0px!important;
    }
} 
.table-responsive{ 
    overflow: auto;
    scrollbar-color: #b4b4b4;
    scrollbar-width: thin;
    &::-webkit-scrollbar,
    &::-moz-scrollbar {
        width: 2px;
        height: 3px;
    }
    &::-webkit-scrollbar-track, 
    &::-moz-scrollbar-track{
        background-color: #eee;
        border-radius: 100px;
    }
    
    &::-webkit-scrollbar-thumb,
    &::-moz-scrollbar-thumb {
        border-radius: 100px;
        background-color: transparent;
        -moz-box-shadow: inset 2px 2px 5px 0 rgba(#929292, 1);
        box-shadow: inset 2px 2px 5px 0 rgba(#929292, 1);
    }
    
}
.date{
    color: #5E5E5E;
    display: block;
    
}
.datetime{
    color: #9D9D9D;
    font-size: 13px;
}
