@import "variables";
@import "mixin";


.tab-spacing {
    .nav-tabs {
        gap: 25px;
        
    }
}

.nav-tabs {
    border-bottom: 0;
        @media (max-width:780px) {
            flex-wrap: nowrap;
        }
    .nav-item {
        // flex: 1 1;
        
        .nav-link {
            color: #767676;
            font-size: 14px;
            line-height: 1;
            text-align: left;
            font-weight: 400;
            border: 0px;
            padding: 12px 20px;
            width: 100%;
            border-bottom: 1px solid #ddd;
            display: flex;
            align-items: center;
            gap: 8px;
            @media (max-width:780px) {
                padding: 10px 12px;
                font-size: 13px;
            }
            .tab-icon{
                &::after{
                    content:"";
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 21px;width: 21px;display: inline-block;
                }
                &.setting{
                    &::after{
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='23' viewBox='0 0 24 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9945 14.8386C13.8162 14.8386 15.2929 13.3445 15.2929 11.5013C15.2929 9.65814 13.8162 8.16405 11.9945 8.16405C10.1728 8.16405 8.69615 9.65814 8.69615 11.5013C8.69615 13.3445 10.1728 14.8386 11.9945 14.8386Z' stroke='%239A9A9A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1 12.4801V10.5223C1 9.36535 1.93453 8.40872 3.08896 8.40872C5.07896 8.40872 5.89255 6.98482 4.89205 5.23832C4.32034 4.23714 4.66117 2.93561 5.66167 2.35715L7.56372 1.25586C8.43228 0.733018 9.55372 1.0445 10.0705 1.92331L10.1914 2.13467C11.1809 3.88117 12.8081 3.88117 13.8086 2.13467L13.9295 1.92331C14.4463 1.0445 15.5677 0.733018 16.4363 1.25586L18.3383 2.35715C19.3388 2.93561 19.6797 4.23714 19.1079 5.23832C18.1074 6.98482 18.921 8.40872 20.911 8.40872C22.0545 8.40872 23 9.35423 23 10.5223V12.4801C23 13.637 22.0655 14.5937 20.911 14.5937C18.921 14.5937 18.1074 16.0176 19.1079 17.7641C19.6797 18.7764 19.3388 20.0668 18.3383 20.6453L16.4363 21.7466C15.5677 22.2694 14.4463 21.9579 13.9295 21.0791L13.8086 20.8678C12.8191 19.1213 11.1919 19.1213 10.1914 20.8678L10.0705 21.0791C9.55372 21.9579 8.43228 22.2694 7.56372 21.7466L5.66167 20.6453C4.66117 20.0668 4.32034 18.7653 4.89205 17.7641C5.89255 16.0176 5.07896 14.5937 3.08896 14.5937C1.93453 14.5937 1 13.637 1 12.4801Z' stroke='%239A9A9A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                    }
                }
                &.info-icon{
                    &::after{
                        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.99995 0.000104263C8.02215 0.000104263 6.08876 0.586591 4.44428 1.6854C2.7998 2.78421 1.51808 4.34599 0.761205 6.17324C0.00433285 8.00049 -0.193699 10.0111 0.192151 11.9509C0.578001 13.8907 1.5304 15.6726 2.92892 17.0711C4.32744 18.4696 6.10926 19.422 8.04906 19.8078C9.98886 20.1937 11.9995 19.9957 13.8268 19.2388C15.654 18.4819 17.2158 17.2002 18.3146 15.5557C19.4134 13.9112 19.9999 11.9779 19.9999 10.0001C20.0059 8.68515 19.7514 7.3821 19.251 6.16613C18.7505 4.95016 18.0142 3.84538 17.0844 2.9156C16.1546 1.98582 15.0498 1.24946 13.8339 0.749047C12.6179 0.248635 11.3148 -0.00591366 9.99995 0.000104263ZM10.909 14.5455C10.909 14.7866 10.8133 15.0178 10.6428 15.1883C10.4723 15.3588 10.2411 15.4546 9.99995 15.4546C9.75885 15.4546 9.52762 15.3588 9.35713 15.1883C9.18664 15.0178 9.09086 14.7866 9.09086 14.5455V9.09096C9.09086 8.84986 9.18664 8.61863 9.35713 8.44814C9.52762 8.27766 9.75885 8.18188 9.99995 8.18188C10.2411 8.18188 10.4723 8.27766 10.6428 8.44814C10.8133 8.61863 10.909 8.84986 10.909 9.09096V14.5455ZM9.99995 6.36371C9.82015 6.36371 9.64439 6.31039 9.49489 6.2105C9.34539 6.11061 9.22887 5.96863 9.16006 5.80251C9.09126 5.6364 9.07325 5.45361 9.10833 5.27727C9.14341 5.10092 9.22999 4.93894 9.35713 4.8118C9.48427 4.68466 9.64625 4.59808 9.8226 4.563C9.99894 4.52793 10.1817 4.54593 10.3478 4.61473C10.514 4.68354 10.6559 4.80006 10.7558 4.94956C10.8557 5.09906 10.909 5.27482 10.909 5.45462C10.909 5.69573 10.8133 5.92695 10.6428 6.09744C10.4723 6.26793 10.2411 6.36371 9.99995 6.36371Z' fill='%239A9A9A'/%3E%3C/svg%3E");
                    }
                }
                &.whatsapp-icon{
                    &::after{
                        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5384 11.9868C14.2833 11.8668 13.0617 11.2668 12.8335 11.1735C12.6053 11.0801 12.4442 11.0535 12.2697 11.3068C12.0952 11.5601 11.6253 12.1068 11.4777 12.2801C11.33 12.4535 11.1958 12.4668 10.9407 12.2801C10.2081 11.9881 9.53152 11.5732 8.94049 11.0535C8.40548 10.5532 7.95253 9.97284 7.59808 9.33351C7.45041 9.09351 7.59808 8.96018 7.70547 8.82685C7.81286 8.69352 7.94711 8.54686 8.08135 8.40019C8.17952 8.27335 8.26074 8.13442 8.32298 7.98687C8.35629 7.91825 8.37358 7.84305 8.37358 7.76687C8.37358 7.69069 8.35629 7.6155 8.32298 7.54687C8.32298 7.42688 7.75917 6.21356 7.54438 5.72024C7.32959 5.22691 7.14165 5.29358 6.99399 5.29358H6.45702C6.20123 5.30348 5.95983 5.41377 5.78581 5.60024C5.50492 5.86646 5.28243 6.18745 5.13228 6.54307C4.98213 6.89869 4.90756 7.28129 4.91324 7.66687C4.9819 8.6135 5.33235 9.51848 5.92005 10.2668C6.99851 11.858 8.47396 13.1443 10.2024 14.0001C10.793 14.2534 11.2495 14.4001 11.6119 14.5201C12.1209 14.6729 12.6589 14.7049 13.1825 14.6134C13.5303 14.5433 13.86 14.403 14.1509 14.2012C14.4419 13.9994 14.688 13.7403 14.874 13.4401C15.0288 13.0694 15.0798 12.664 15.0217 12.2668C14.9545 12.1735 14.7934 12.1068 14.5384 11.9868Z' fill='%239A9A9A'/%3E%3Cpath d='M17.0487 2.90696C16.1203 1.97615 15.0137 1.23942 13.794 0.740212C12.5744 0.241007 11.2664 -0.0105635 9.94732 0.00033983C8.19989 0.00942225 6.48543 0.473708 4.97519 1.34683C3.46495 2.21994 2.21179 3.47133 1.34086 4.97601C0.469929 6.48069 0.011719 8.18599 0.0119927 9.92159C0.0122664 11.6572 0.471014 13.3623 1.34242 14.8668L0 20L5.28913 18.6667C6.75134 19.457 8.39005 19.8696 10.0547 19.8667H9.94732C11.9313 19.8795 13.8742 19.3052 15.5282 18.2169C17.1822 17.1286 18.4724 15.5757 19.2343 13.7562C19.9962 11.9367 20.1951 9.93311 19.8059 8.00084C19.4166 6.06857 18.4568 4.29523 17.0487 2.90696ZM9.94732 18.16C8.45798 18.1612 6.99633 17.7603 5.7187 17.0001L5.42337 16.8267L2.28211 17.64L3.11441 14.6001L2.92647 14.2934C1.85436 12.5786 1.45332 10.5325 1.79944 8.54342C2.14557 6.55433 3.21478 4.76064 4.8042 3.50266C6.39363 2.24468 8.39268 1.60994 10.4221 1.71887C12.4515 1.8278 14.37 2.67282 15.8137 4.0936C16.5876 4.85611 17.2011 5.76399 17.6182 6.76432C18.0354 7.76465 18.2479 8.83744 18.2435 9.92017C18.2399 12.1044 17.3647 14.1982 15.8097 15.7427C14.2546 17.2872 12.1465 18.1565 9.94732 18.16Z' fill='%239A9A9A'/%3E%3C/svg%3E");
                    }
                }
            }
            .step-count{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #ddd;
                color: #000;
                height: 25px;
                width: 25px;
                border-radius: 100%;
                font-size: 13px;
                font-weight: 600;
            }
            &:hover {
                border: 0px;
                border-bottom: 1px solid transparent;
                ;
            }

            &.active {
                background-color: #03A9F51A;
                border: 0px;
                 border-bottom: 1px solid transparent;
                border-radius: 0px;
                color: $black;
                .step-count{
                    background-color: #03a9f5;
                    color: $white;
                }
                .tab-icon{
                    &.setting{
                        &::after{
                            background-image: url("data:image/svg+xml,%3Csvg width='24' height='23' viewBox='0 0 24 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9945 14.8386C13.8162 14.8386 15.2929 13.3445 15.2929 11.5013C15.2929 9.65814 13.8162 8.16405 11.9945 8.16405C10.1728 8.16405 8.69615 9.65814 8.69615 11.5013C8.69615 13.3445 10.1728 14.8386 11.9945 14.8386Z' stroke='%23000' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1 12.4801V10.5223C1 9.36535 1.93453 8.40872 3.08896 8.40872C5.07896 8.40872 5.89255 6.98482 4.89205 5.23832C4.32034 4.23714 4.66117 2.93561 5.66167 2.35715L7.56372 1.25586C8.43228 0.733018 9.55372 1.0445 10.0705 1.92331L10.1914 2.13467C11.1809 3.88117 12.8081 3.88117 13.8086 2.13467L13.9295 1.92331C14.4463 1.0445 15.5677 0.733018 16.4363 1.25586L18.3383 2.35715C19.3388 2.93561 19.6797 4.23714 19.1079 5.23832C18.1074 6.98482 18.921 8.40872 20.911 8.40872C22.0545 8.40872 23 9.35423 23 10.5223V12.4801C23 13.637 22.0655 14.5937 20.911 14.5937C18.921 14.5937 18.1074 16.0176 19.1079 17.7641C19.6797 18.7764 19.3388 20.0668 18.3383 20.6453L16.4363 21.7466C15.5677 22.2694 14.4463 21.9579 13.9295 21.0791L13.8086 20.8678C12.8191 19.1213 11.1919 19.1213 10.1914 20.8678L10.0705 21.0791C9.55372 21.9579 8.43228 22.2694 7.56372 21.7466L5.66167 20.6453C4.66117 20.0668 4.32034 18.7653 4.89205 17.7641C5.89255 16.0176 5.07896 14.5937 3.08896 14.5937C1.93453 14.5937 1 13.637 1 12.4801Z' stroke='%23000' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                        }
                    }
                    &.info-icon{
                        &::after{
                            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.99995 0.000104263C8.02215 0.000104263 6.08876 0.586591 4.44428 1.6854C2.7998 2.78421 1.51808 4.34599 0.761205 6.17324C0.00433285 8.00049 -0.193699 10.0111 0.192151 11.9509C0.578001 13.8907 1.5304 15.6726 2.92892 17.0711C4.32744 18.4696 6.10926 19.422 8.04906 19.8078C9.98886 20.1937 11.9995 19.9957 13.8268 19.2388C15.654 18.4819 17.2158 17.2002 18.3146 15.5557C19.4134 13.9112 19.9999 11.9779 19.9999 10.0001C20.0059 8.68515 19.7514 7.3821 19.251 6.16613C18.7505 4.95016 18.0142 3.84538 17.0844 2.9156C16.1546 1.98582 15.0498 1.24946 13.8339 0.749047C12.6179 0.248635 11.3148 -0.00591366 9.99995 0.000104263ZM10.909 14.5455C10.909 14.7866 10.8133 15.0178 10.6428 15.1883C10.4723 15.3588 10.2411 15.4546 9.99995 15.4546C9.75885 15.4546 9.52762 15.3588 9.35713 15.1883C9.18664 15.0178 9.09086 14.7866 9.09086 14.5455V9.09096C9.09086 8.84986 9.18664 8.61863 9.35713 8.44814C9.52762 8.27766 9.75885 8.18188 9.99995 8.18188C10.2411 8.18188 10.4723 8.27766 10.6428 8.44814C10.8133 8.61863 10.909 8.84986 10.909 9.09096V14.5455ZM9.99995 6.36371C9.82015 6.36371 9.64439 6.31039 9.49489 6.2105C9.34539 6.11061 9.22887 5.96863 9.16006 5.80251C9.09126 5.6364 9.07325 5.45361 9.10833 5.27727C9.14341 5.10092 9.22999 4.93894 9.35713 4.8118C9.48427 4.68466 9.64625 4.59808 9.8226 4.563C9.99894 4.52793 10.1817 4.54593 10.3478 4.61473C10.514 4.68354 10.6559 4.80006 10.7558 4.94956C10.8557 5.09906 10.909 5.27482 10.909 5.45462C10.909 5.69573 10.8133 5.92695 10.6428 6.09744C10.4723 6.26793 10.2411 6.36371 9.99995 6.36371Z' fill='%23000'/%3E%3C/svg%3E");
                        }
                    }
                    &.whatsapp-icon{
                        &::after{
                            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5384 11.9868C14.2833 11.8668 13.0617 11.2668 12.8335 11.1735C12.6053 11.0801 12.4442 11.0535 12.2697 11.3068C12.0952 11.5601 11.6253 12.1068 11.4777 12.2801C11.33 12.4535 11.1958 12.4668 10.9407 12.2801C10.2081 11.9881 9.53152 11.5732 8.94049 11.0535C8.40548 10.5532 7.95253 9.97284 7.59808 9.33351C7.45041 9.09351 7.59808 8.96018 7.70547 8.82685C7.81286 8.69352 7.94711 8.54686 8.08135 8.40019C8.17952 8.27335 8.26074 8.13442 8.32298 7.98687C8.35629 7.91825 8.37358 7.84305 8.37358 7.76687C8.37358 7.69069 8.35629 7.6155 8.32298 7.54687C8.32298 7.42688 7.75917 6.21356 7.54438 5.72024C7.32959 5.22691 7.14165 5.29358 6.99399 5.29358H6.45702C6.20123 5.30348 5.95983 5.41377 5.78581 5.60024C5.50492 5.86646 5.28243 6.18745 5.13228 6.54307C4.98213 6.89869 4.90756 7.28129 4.91324 7.66687C4.9819 8.6135 5.33235 9.51848 5.92005 10.2668C6.99851 11.858 8.47396 13.1443 10.2024 14.0001C10.793 14.2534 11.2495 14.4001 11.6119 14.5201C12.1209 14.6729 12.6589 14.7049 13.1825 14.6134C13.5303 14.5433 13.86 14.403 14.1509 14.2012C14.4419 13.9994 14.688 13.7403 14.874 13.4401C15.0288 13.0694 15.0798 12.664 15.0217 12.2668C14.9545 12.1735 14.7934 12.1068 14.5384 11.9868Z' fill='%23000'/%3E%3Cpath d='M17.0487 2.90696C16.1203 1.97615 15.0137 1.23942 13.794 0.740212C12.5744 0.241007 11.2664 -0.0105635 9.94732 0.00033983C8.19989 0.00942225 6.48543 0.473708 4.97519 1.34683C3.46495 2.21994 2.21179 3.47133 1.34086 4.97601C0.469929 6.48069 0.011719 8.18599 0.0119927 9.92159C0.0122664 11.6572 0.471014 13.3623 1.34242 14.8668L0 20L5.28913 18.6667C6.75134 19.457 8.39005 19.8696 10.0547 19.8667H9.94732C11.9313 19.8795 13.8742 19.3052 15.5282 18.2169C17.1822 17.1286 18.4724 15.5757 19.2343 13.7562C19.9962 11.9367 20.1951 9.93311 19.8059 8.00084C19.4166 6.06857 18.4568 4.29523 17.0487 2.90696ZM9.94732 18.16C8.45798 18.1612 6.99633 17.7603 5.7187 17.0001L5.42337 16.8267L2.28211 17.64L3.11441 14.6001L2.92647 14.2934C1.85436 12.5786 1.45332 10.5325 1.79944 8.54342C2.14557 6.55433 3.21478 4.76064 4.8042 3.50266C6.39363 2.24468 8.39268 1.60994 10.4221 1.71887C12.4515 1.8278 14.37 2.67282 15.8137 4.0936C16.5876 4.85611 17.2011 5.76399 17.6182 6.76432C18.0354 7.76465 18.2479 8.83744 18.2435 9.92017C18.2399 12.1044 17.3647 14.1982 15.8097 15.7427C14.2546 17.2872 12.1465 18.1565 9.94732 18.16Z' fill='%23000'/%3E%3C/svg%3E");
                        }
                    }
                }
            }

            &:focus {
                border: 0px;
                // border-bottom: 1px solid $tabs;
            }
        }
    }

    &.conversation-list{
        display: flex;
        list-style-type: none;
        padding: 0px;
        margin-top: 20px;
        border-bottom: 0px;
        li{
           width: 33.10%;
          
            .nav-link{
                font-size: 14px;
                letter-spacing: 0.6px;
                color: #767676;
                font-weight: 400;
                padding: 10px 10px;
                text-decoration: none;
                text-align: center;
                display: flex;
                justify-content: center;
                border-bottom: 1px solid #9A9A9A;
                margin: 0px 3px;
                 border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                .tab-icon{
                    background-size: cover;
                    background-position: center;
                    height: 18px;width: 16px;
                    display: block;
                    &.marketing-icon{
                        background-image: url("data:image/svg+xml,%3Csvg width='17' height='19' viewBox='0 0 17 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.60539 4.45157C5.60735 4.45157 4.44141 4.45157 4.44141 4.45157V11.3628C4.44141 11.3628 5.60735 11.3628 7.60539 11.3628C9.60399 11.3628 11.852 13.3614 12.518 14.86V0.954834C11.852 2.45353 9.60399 4.45157 7.60539 4.45157Z' fill='%239A9A9A'/%3E%3Cpath d='M3.27527 4.45154C2.7759 4.45154 2.46373 4.45154 2.27599 4.45154C1.10283 4.45154 0.151855 5.40361 0.151855 6.57677V9.23861C0.151855 10.4118 1.10283 11.3627 2.27599 11.3627C2.46373 11.3627 2.77593 11.3627 3.27527 11.3627V4.45154Z' fill='%239A9A9A'/%3E%3Cpath d='M16.1821 7.79385C16.1821 7.14893 15.7239 6.61123 15.1156 6.48794V0.8071C15.1156 0.361049 14.754 0 14.3085 0C13.863 0 13.502 0.361049 13.502 0.8071V15.0078C13.502 15.4533 13.863 15.8144 14.3085 15.8144C14.754 15.8144 15.1156 15.4533 15.1156 15.0078V9.09922C15.7239 8.97536 16.1821 8.43877 16.1821 7.79385Z' fill='%239A9A9A'/%3E%3Cpath d='M5.98718 16.9275C5.60889 16.6086 6.22437 16.3809 6.13383 15.8949C6.04385 15.4088 5.71668 15.4699 5.62613 14.9844C5.53615 14.499 5.86333 14.4379 5.77335 13.9524C5.6828 13.4658 5.35563 13.6108 5.26565 13.1247C5.17511 12.6393 5.55116 12.2349 5.19068 12.1238H2.35938L2.73934 17.533C2.75985 17.9085 3.07038 18.2018 3.44643 18.2018H6.02327C6.25491 18.2018 6.47543 17.9379 6.43988 17.6468C6.41155 17.4158 6.17492 17.0864 5.98718 16.9275Z' fill='%239A9A9A'/%3E%3C/svg%3E%0A");
                    }
                    &.utlity-icon{
                        background-image: url("data:image/svg+xml,%3Csvg width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.53936 12.4127C4.06549 12.4127 2.58913 12.4127 1.49531 12.4127C0.912508 12.4127 0.534172 11.7994 0.794803 11.2782L1.46439 9.939C1.68211 9.50358 1.79546 9.02394 1.79546 8.5371C1.79546 7.93367 1.79546 7.03736 1.79546 6.14097C1.79546 4.57302 2.57943 1.43713 6.49929 1.43713C10.4191 1.43713 11.2031 4.57302 11.2031 6.14097C11.2031 7.03736 11.2031 7.93367 11.2031 8.5371C11.2031 9.02394 11.3165 9.50358 11.5342 9.939L12.2038 11.2782C12.4644 11.7994 12.0853 12.4127 11.5026 12.4127H8.45922M4.53936 12.4127C4.53936 13.9807 5.32333 14.7647 6.49929 14.7647C7.67525 14.7647 8.45922 13.9807 8.45922 12.4127M4.53936 12.4127C5.764 12.4127 8.45922 12.4127 8.45922 12.4127' stroke='%239A9A9A' stroke-linejoin='round'/%3E%3C/svg%3E");
                        
                    }
                    &.authentication-icon{
                        background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.7786 11.2997C14.5706 11.2997 16.834 8.90464 16.834 5.95025C16.834 2.99584 14.5706 0.60083 11.7786 0.60083C8.98652 0.60083 6.72316 2.99584 6.72316 5.95025C6.72316 7.3187 7.311 8.31394 7.311 8.31394L1.19751 14.783C0.923192 15.0733 0.539128 15.8281 1.19751 16.5247L1.90291 17.2711C2.17723 17.5199 2.86694 17.8683 3.43127 17.2711L4.25425 16.4003C5.07719 17.2711 6.01777 16.7735 6.37041 16.2758C6.95825 15.405 6.25287 14.5342 6.25287 14.5342L6.48807 14.2854C7.61671 15.4797 8.60423 14.783 8.95697 14.2854C9.54481 13.4145 8.95697 12.5437 8.95697 12.5437C8.72177 12.0461 8.25159 12.0461 8.83932 11.424L9.54481 10.6776C10.1091 11.1753 11.2691 11.2997 11.7786 11.2997Z' stroke='%239A9A9A' stroke-linejoin='round'/%3E%3C/svg%3E");
                    }
                }
                &.active{
                    .tab-icon{
                        background-size: cover;
                        background-position: center;
                        height: 18px;width: 16px;
                        display: block;
                        &.marketing-icon{
                            background-image: url("data:image/svg+xml,%3Csvg width='17' height='19' viewBox='0 0 17 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.60539 4.45157C5.60735 4.45157 4.44141 4.45157 4.44141 4.45157V11.3628C4.44141 11.3628 5.60735 11.3628 7.60539 11.3628C9.60399 11.3628 11.852 13.3614 12.518 14.86V0.954834C11.852 2.45353 9.60399 4.45157 7.60539 4.45157Z' fill='%2303A9F5'/%3E%3Cpath d='M3.27527 4.45154C2.7759 4.45154 2.46373 4.45154 2.27599 4.45154C1.10283 4.45154 0.151855 5.40361 0.151855 6.57677V9.23861C0.151855 10.4118 1.10283 11.3627 2.27599 11.3627C2.46373 11.3627 2.77593 11.3627 3.27527 11.3627V4.45154Z' fill='%2303A9F5'/%3E%3Cpath d='M16.1821 7.79385C16.1821 7.14893 15.7239 6.61123 15.1156 6.48794V0.8071C15.1156 0.361049 14.754 0 14.3085 0C13.863 0 13.502 0.361049 13.502 0.8071V15.0078C13.502 15.4533 13.863 15.8144 14.3085 15.8144C14.754 15.8144 15.1156 15.4533 15.1156 15.0078V9.09922C15.7239 8.97536 16.1821 8.43877 16.1821 7.79385Z' fill='%2303A9F5'/%3E%3Cpath d='M5.98718 16.9275C5.60889 16.6086 6.22437 16.3809 6.13383 15.8949C6.04385 15.4088 5.71668 15.4699 5.62613 14.9844C5.53615 14.499 5.86333 14.4379 5.77335 13.9524C5.6828 13.4658 5.35563 13.6108 5.26565 13.1247C5.17511 12.6393 5.55116 12.2349 5.19068 12.1238H2.35938L2.73934 17.533C2.75985 17.9085 3.07038 18.2018 3.44643 18.2018H6.02327C6.25491 18.2018 6.47543 17.9379 6.43988 17.6468C6.41155 17.4158 6.17492 17.0864 5.98718 16.9275Z' fill='%2303A9F5'/%3E%3C/svg%3E%0A");
                        }
                        &.utlity-icon{
                            background-image: url("data:image/svg+xml,%3Csvg width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.53936 12.4127C4.06549 12.4127 2.58913 12.4127 1.49531 12.4127C0.912508 12.4127 0.534172 11.7994 0.794803 11.2782L1.46439 9.939C1.68211 9.50358 1.79546 9.02394 1.79546 8.5371C1.79546 7.93367 1.79546 7.03736 1.79546 6.14097C1.79546 4.57302 2.57943 1.43713 6.49929 1.43713C10.4191 1.43713 11.2031 4.57302 11.2031 6.14097C11.2031 7.03736 11.2031 7.93367 11.2031 8.5371C11.2031 9.02394 11.3165 9.50358 11.5342 9.939L12.2038 11.2782C12.4644 11.7994 12.0853 12.4127 11.5026 12.4127H8.45922M4.53936 12.4127C4.53936 13.9807 5.32333 14.7647 6.49929 14.7647C7.67525 14.7647 8.45922 13.9807 8.45922 12.4127M4.53936 12.4127C5.764 12.4127 8.45922 12.4127 8.45922 12.4127' stroke='%2303A9F5' stroke-linejoin='round'/%3E%3C/svg%3E");
                            
                        }
                        &.authentication-icon{
                            background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.7786 11.2997C14.5706 11.2997 16.834 8.90464 16.834 5.95025C16.834 2.99584 14.5706 0.60083 11.7786 0.60083C8.98652 0.60083 6.72316 2.99584 6.72316 5.95025C6.72316 7.3187 7.311 8.31394 7.311 8.31394L1.19751 14.783C0.923192 15.0733 0.539128 15.8281 1.19751 16.5247L1.90291 17.2711C2.17723 17.5199 2.86694 17.8683 3.43127 17.2711L4.25425 16.4003C5.07719 17.2711 6.01777 16.7735 6.37041 16.2758C6.95825 15.405 6.25287 14.5342 6.25287 14.5342L6.48807 14.2854C7.61671 15.4797 8.60423 14.783 8.95697 14.2854C9.54481 13.4145 8.95697 12.5437 8.95697 12.5437C8.72177 12.0461 8.25159 12.0461 8.83932 11.424L9.54481 10.6776C10.1091 11.1753 11.2691 11.2997 11.7786 11.2997Z' stroke='%2303A9F5' stroke-linejoin='round'/%3E%3C/svg%3E");
                        }
                    }
                
                
                }
            }
            
        }
    }
}

.tab-content {
    padding: 15px 0px;
}

.left-vertical-tab {
    .nav {
        width: 100%;

        &:first-child {
            .nav-link {
                padding-top: 0px;
            }
        }

        .nav-link {
            color: #000;
            text-align: left;
            padding: 10px 0px 14px;
            font-size: 15px;

            &.active {
                color: $tabs;
                background-color: transparent;
            }
        }
    }
}

.tabheader{
    margin-bottom: 15px;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 10px;
    small{
        font-size: 12px;
    }
}