name: Check App Pool

on:
  # schedule:
  #   - cron: '*/5 * * * *'
  workflow_dispatch:

jobs:
  check-app-pool:
    runs-on: 'GLB-UAT-F4'

    steps:
      - name: Check if IIS App Pool is stopped
        shell: powershell
        run: |
          Import-Module WebAdministration
          $appPoolName = "CheckIf"
          $state = Get-WebAppPoolState -Name $appPoolName

          if ($state.Value -eq "Stopped") {
              Write-Output "App Pool '$appPoolName' is stopped."
              Start-WebAppPool -Name $appPoolName
              Start-Sleep -Seconds 5
              $newState = Get-WebAppPoolState -Name $appPoolName
              Write-Output "App Pool '$appPoolName' is now $($newState.Value)."
          } else {
              Write-Output "App Pool '$appPoolName' is $($state.Value)."
          }